[2016-08-23 11:45] LauraHilliger opened #2 "make video tutorial about github"
We decided to use Github to store:
* Issues reported by the community
* Backlog items
* Items the team needs help with
* Items that are not priority to the team

This ticket is to make a short video to show the team how to file issues.

[2016-08-23 11:49] LauraHilliger opened #3 "Sample thing to do"
Describe whatever it is that needs done.

[2016-08-24 10:46] LauraHilliger opened #4 "Sample issue"
HI GUYS!!! @tolen this is your issue.

[2016-08-24 10:49] LauraHilliger commented on #3
i did it! Heere's the link

[2016-08-24 10:49] #3 closed

[2016-08-24 10:51] IlBrizzo commented on #2
Ciao @LauraHilliger will delete this right away

[2016-08-24 22:59] datawebbie commented on #2
It's great to see you guys are using GitHub for issue tracking and code sharing for this project. Now we can all contribute easily.

[2016-09-14 08:35] #4 closed

[2016-09-14 08:35] #2 closed

[2016-09-14 08:38] LauraHilliger opened #5 "Make an inventory of existing storytelling / content strategy / vision documents"
We've already catalogued the story/content related materials (most can be found at http://moon.greenpeace.org), but we need to put them in an accessible list (outside of Greennet) that we can use in #6.

https://greennet.greenpeace.org/content/144700
https://medium.com/planet4/greenpeaces-engagement-content-vision-fbd6bb66018a#.f4katlm5k
https://medium.com/planet4/lets-chat-about-immersive-storyte

[2016-09-14 08:39] LauraHilliger opened #6 "Review and make recommendations on what to use / not use from this inventory"
Making a list for issue #5 , will need to check each resource and see what is relevant or not. Suggest a simple spreadsheet column that indicates whether a document is worth the designers time to take a look at ;)

[2016-09-14 08:40] LauraHilliger opened #7 "Create persona drafts. Who do we want to talk to and how?"
Started here: https://docs.google.com/document/d/1I_4tt9hKIHi7sEAMp88aktQdix5cFUEwWgT-XeMM34I/edit#
https://medium.com/planet4/diversity-inclusion-user-personas-2f42727581a3?source=latest

[2016-09-14 08:44] LauraHilliger opened #8 "Gather examples of good / bad form of messaging or content"
Along with #5 we should provide the designers with some examples of good and bad messaging and content. A canonical, hopeful article from the Kayaktivists with striking images would be an example of good messaging, bad messaging is aplenty.

If we find excellent examples of one or the other from organizations outside of Greenpeace, we should include them!

Recommend at least 5 solid examples for e

[2016-09-14 08:47] LauraHilliger opened #9 "Consolidate results in one place that could be shared with designers"
Need to consolidate the results from #5, #6, #7 and #8 into the Discover Content and Story folder:

https://drive.google.com/drive/folders/0B0YxEDMq1fi_c2pSOXJnc3I1ZE0

[2016-09-19 16:36] LauraHilliger commented on #5
We now have a spreadsheet for this work: https://docs.google.com/spreadsheets/d/1bS0G3P7w9d4i4zRCRYKHIepObSj08v0oIUlx8wjE4H0/edit#gid=0

[2016-09-19 16:37] LauraHilliger commented on #6
Spreadsheet where we're working: https://docs.google.com/spreadsheets/d/1bS0G3P7w9d4i4zRCRYKHIepObSj08v0oIUlx8wjE4H0/edit#gid=0

[2016-09-19 16:37] LauraHilliger commented on #9
Spreadsheet where we're working: https://docs.google.com/spreadsheets/d/1bS0G3P7w9d4i4zRCRYKHIepObSj08v0oIUlx8wjE4H0/edit#gid=0

[2016-09-19 16:37] LauraHilliger commented on #8
Spreadsheet where we're working: https://docs.google.com/spreadsheets/d/1bS0G3P7w9d4i4zRCRYKHIepObSj08v0oIUlx8wjE4H0/edit#gid=0

[2016-09-19 16:38] LauraHilliger commented on #7
Spreadsheet where we're working, see the "job stories" tab: https://docs.google.com/spreadsheets/d/1bS0G3P7w9d4i4zRCRYKHIepObSj08v0oIUlx8wjE4H0/edit#gid=0

[2016-10-06 13:39] #9 closed

[2016-10-06 13:40] #8 closed

[2016-10-06 13:40] #5 closed

[2016-10-06 13:40] #6 closed

[2017-02-09 16:42] #7 closed

[2018-05-22 12:49] 45kb opened #11 "[Wiki] 404 page"
I don't know if it's wanted but this link in the wiki is 404

https://workfor.greenpeace.org/vacancies/details/php-developer/

Would be better to inform "The position is no more available" instead of a 404 👍

[2018-05-22 13:03] 45kb opened #12 "[Wiki] Vertical space between items"
You could give a vertical space between top elements in your https://wiki.greenpeace.org website 👍

![screenshot](https://i.imgur.com/4zXGVmz.png)

Chrome version: latest
OS: OSX

[2018-05-22 13:25] koyan commented on #11
Thanks Filippo. The website where the job postings happen is in a different application than planet4, so we don't control it's beheaviour. I will pass on your suggestion to it's administrators. Since it is a ready made solution though, I doubt they have any control over it's beheaviour.

[2018-05-22 13:26] koyan commented on #12
Thanks, I will pass it on to the team who is maintaining the wiki.greenpeace.org website.

[2018-05-22 13:26] #12 closed

[2018-05-22 17:07] 45kb commented on #12
@koyan sorry again just saw something i don't understand.
If you open greenpeace.org
i think the logo/name of the org is totally unreadable because is green on blue

![schermata 2018-05-22 alle 15 13 00](https://user-images.githubusercontent.com/7761650/40377817-25014adc-5df2-11e8-83ac-54dfd71252de.png)

Not here to criticize just hope to be of help.

Tried something on the fly, wouldn't be better

[2018-05-24 11:21] koyan commented on #12
Hi Filippo,
I have passed your comments to the design team.

You can read more about the colour choices at:
https://medium.com/planet4/greenpeace-is-a-colourful-organisation-5f3b96e4f01
The team tested a lot of things and took into account a lot of things. The design is a continuous project and we are expecting a lot of iterations in the future. (Based on analysis and data)

Konstantinos

[2018-05-24 11:27] LauraHilliger commented on #12
LOL @45kb What's really funny is that I'm RIGHT THIS SECOND filing front end tickets for some changes that get rid of that color!

[2018-05-24 13:41] 45kb commented on #11
@koyan since I'm here i give you one more thing you maight be interested to report it to the admins  👍

Mac Sierra OS / Safari

![schermata 2018-05-24 alle 15 37 37](https://user-images.githubusercontent.com/7761650/40489165-cfa4161e-5f68-11e8-8cb6-b7a71145637c.png)

Mac Sierra OS / Chrome
![schermata 2018-05-24 alle 15 37 52](https://user-images.githubusercontent.com/7761650/40489180-d459a1ce-5f6

[2018-05-25 08:41] 45kb commented on #12
@koyan that's understandable, thanks for the link, did not notice that.

@LauraHilliger ☮️

[2018-07-25 10:08] 45kb opened #13 "[Audits] Generic suggestion"
Hi all :)

One thing i wanted to suggest (if not tried it yet) try run the Google Chrome devtools "Audits"  on greenpeace.org

![schermata 2018-07-25 alle 11 54 02](https://user-images.githubusercontent.com/7761650/43194687-48b6db66-9003-11e8-91d1-62ddf3e6c8f2.png)

This should generate for you a series of helpful reports :)

Also the Google Pagespeed  insights is a great tool to optimize the webs

[2018-07-26 10:35] koyan commented on #13
Thanks for the suggestion. To tell the truth I didn't know about that tool. I was doing similar tests using the google pagespeed tool, but this one seems to be checking more things.
Thanks we will use it to see what we can impove.

[2018-07-26 11:50] 45kb commented on #13
@koyan glad if it's of help! There are things you can easily improve and you'll benefit!

[2018-11-19 15:12] 45kb opened #14 "[Input] Desktop app"
Hi all,
Just got in mind to ask if you ever considered to build a simple Desktop app using Electron framework, it would be that simple https://github.com/electron/electron-quick-start

I believe it could give you inputs and engage even more people/donations through Desktop apps and app stores.

It could contain anything inside, i.e:
- a News Reader with all the GP news in realtime (videos, photos,

[2018-11-19 15:15] 45kb commented on #14
BTW this is what happens when i search "Greenpeace" in the Apple App Store :P :P

![schermata 2018-11-19 alle 16 14 42](https://user-images.githubusercontent.com/7761650/48715887-58ea8400-ec16-11e8-8ac7-1394f25883d3.png)

[2020-05-18 15:51] LauraHilliger commented on #11
Thanks for filing this! We're revamping this repo, and I see this issue is a couple years old. It also seems that @koyan took care of this request. I'm going to close this issue.

[2020-05-18 15:51] #11 closed

[2020-05-18 15:51] LauraHilliger commented on #13
Thanks for filing this too! We're revamping this repo, and I see this issue is a couple years old. It also seems that @koyan took care of this request. I'm going to close this issue.

[2020-05-18 15:51] #13 closed

[2020-06-10 08:46] LauraHilliger opened #15 "Test adding contributors to this repo"
We've installed the All Contributors bot to help us recognize open source contributions to the Planet 4 project. We were inspired by the amazing [p5.js project](https://github.com/processing/p5.js).

[2020-06-10 08:47] LauraHilliger commented on #15
@all-contributors please add @dajbelshaw for remixing a great readme and suggesting you as a friendly bot in our repo 👯

[2020-06-10 08:47] #15 closed

[2020-06-10 08:48] LauraHilliger commented on #15
@all-contributors please add @dajbelshaw for example

[2020-06-10 08:50] LauraHilliger opened #17 "Add team members as first contributors"
Now that we've tested the All Contributors bot, it's time to add our contributors – a great many people have helped with P4, but many of them probably aren't on Github. We need to make a list, find folks on Github and add them.

[2020-06-10 08:51] LauraHilliger commented on #17
@all-contributors please add LauraHilliger for ideas

[2020-06-10 08:56] LauraHilliger commented on #17
@all-contributors add comzeradd for code

[2020-06-10 09:04] LauraHilliger commented on #17
@all-contributors add IlBrizzo for talk

[2020-06-10 09:22] LauraHilliger opened #21 "Update Styleguide introduction"
I know that @WillMorrisJulien is working on this
https://github.com/greenpeace/planet4-styleguide

[2020-06-10 09:23] LauraHilliger commented on #21
@all-contributors add @WillMorrisJulien for design

[2020-06-10 09:26] comzeradd commented on #14
Hi @45kb! Sorry for the really late reply, but this repo was inactive and recently re-purposed.

Right now we are not considering of building a desktop app, it may seem simple but it would need significant effort considering the complexity of the platform and the amount of website relying on that. But thanks for the idea :green_heart: Building an electron app is potentially something we could use

[2020-06-10 09:26] #14 closed

[2020-06-10 09:34] LauraHilliger opened #23 "Add P4 team to Greenpeace org"
As I find their user names, I'm adding P4 track leads and community folks as contributors and maintainers to this repo. However, I can't assign them tickets. I think they need to be added to the Global Org?

[2020-06-10 09:35] LauraHilliger opened #24 "Update tech documentation to link to Styleguide"
🔗 The technical documentation for P4 is excellent and easy to follow. However, if you are a designer there should also be a link to the P4 styleguide.

[2020-06-10 10:51] comzeradd commented on #23
@all-contributors add lithrel for code

[2020-06-10 10:52] comzeradd commented on #23
@all-contributors add pablocubico for code

[2020-06-10 10:52] comzeradd commented on #23
@all-contributors add dpivo for code

[2020-06-10 10:53] comzeradd commented on #23
@all-contributors add Inwerpsel for code

[2020-06-10 10:53] comzeradd commented on #23
@all-contributors add mleray for code

[2020-06-10 10:53] comzeradd commented on #23
@all-contributors add sagarsdeshmukh for code

[2020-06-10 10:57] comzeradd commented on #23
@all-contributors add dpivo for code

[2020-06-10 10:58] comzeradd commented on #23
@all-contributors add mleray for code

[2020-06-10 10:58] comzeradd commented on #23
@all-contributors add lithrel for code

[2020-06-10 10:59] comzeradd commented on #23
@all-contributors add pablocubico for code

[2020-06-10 10:59] comzeradd commented on #23
@all-contributors add Inwerpsel for code

[2020-06-10 11:02] comzeradd commented on #23
@all-contributors add jencub for infrastructure

[2020-06-11 11:44] comzeradd opened #39 "Add new contributor"
@all-contributors add koyan for code

[2020-06-11 11:46] comzeradd commented on #39
@all-contributors add koyan for code

[2020-06-11 11:47] #39 closed

[2020-06-15 11:25] LauraHilliger opened #41 "Update code of conduct with email"
Need to add the moderation email to the CoC: https://github.com/greenpeace/planet4/blob/master/CODE_OF_CONDUCT.md

[2020-06-16 08:51] comzeradd commented on #23
@all-contributors add magalifatome for design

[2020-06-16 09:39] comzeradd opened #43 "Add new contributor"
@all-contributors add oekeur for code

[2020-06-16 10:18] comzeradd commented on #43
@all-contributors add oekeur for code

[2020-06-16 10:18] #43 closed

[2020-06-16 10:19] comzeradd commented on #23
@all-contributors add WillMorrisJulien for design

[2020-06-16 11:58] LauraHilliger commented on #23
@comzeradd AWESOME that you're adding the team with the  bot. Definitely keep that up, friendly faces are friendly.

Can you also add P4 team to the Greenpeace organization? Because I can't assign Will and Luca tickets (haven't checked other folks yet)

[2020-06-17 05:02] WillMorrisJulien commented on #21
I am added 👍

[2020-06-17 08:11] stduerre opened #46 "PLANET-5215 Allow customization of tag page redirect handling"
Currently, when a tag page is loaded, the master theme checks if a "redirect page" is defined. If there is one, it fetches it's content for display instead of auto generating a tag page.

I'd like to have the ability to change this behavior in child themes/plugins to actually redirect to the URL of the redirect page instead of generating the output right away.

A possible solution would be to add

[2020-06-17 10:37] comzeradd commented on #46
Thanks for the contribution. Yes, that make sense, so we can preserve the default behavior but give the ability for NROs to override it

[2020-06-18 08:29] LauraHilliger opened #47 "Just test issue"
This is in a video Hello!

[2020-06-18 08:30] #47 closed

[2020-06-18 12:14] LauraHilliger opened #48 "PLANET-2282 Rework the handbook sitemap"
# Brief summary of task:
Handbook sitemap should be changed > https://planet4.greenpeace.org/handbook-sitemap/
It should show page parenting, and not only Act (Handbook) and Explore (Implement), but the entire sitemap

## Objectives of task:
* Act >> Should become Actions
* Explore >> Implement (and maybe not have it alphabetically ordered but following the left-side navigation at level 1?)
* Abou

[2020-06-18 12:24] LauraHilliger opened #49 "PLANET-4847 Review Handbook UX Removing the top bar and moving the search to the sidebar"
# Brief summary of task:
In desktop screens there is unnecessary space between the header and the search bar, which is also misaligned,.

We should align the GP logo with the search bar, reducing the overall blue overlay, see scrennshot and eventually align with @WillMorrisJulien for design specs

As suggested by @pablocubico, we are exploring a more user-friendly Handbook nav. This task is about

[2020-06-18 12:27] LauraHilliger opened #50 "PLANET-4848 Making the Handbook sidebar sections collapsible"
# Brief summary of task:
As suggested by @pablocubico, we are exploring a more user-friendly Handbook nav. This task is about a UX review of the option to making the sidebar sections collapsible, so all elements on the sidebar (logo + search + menu) stay fixed as you scroll.

## Objectives of task:
review the option and give UX input

# Relevant documentation:
https://planet4.greenpeace.org/

# Es

[2020-06-18 12:32] LauraHilliger opened #51 "PLANET-4849 Submenu block changes"
# Brief summary of task:
This task is about a UX review of the Submenu block, which is widely used across the Handbook. The Submenu block is quite unpredictable having 2 columns, and the idea is to move it to the right side, made it a bit smaller, single-column, and added a "CONTENTS" title

# Relevant documentation:
https://planet4.greenpeace.org/handbook/block-submenu/

# Help:
You can always [r

[2020-06-18 12:36] LauraHilliger opened #52 "PLANET-4850 Adding syntax colouring for code blocks"
# Brief summary of task:
This task is about adding adding syntax coloring for code blocks, to make code embeds more readable. UX advice needed

## Objectives of task:
describe how we should color code blocks / best practices

# NEEDS
An example of a code block. Perhaps @IlBrizzo knows where one is and can add a link so a UX designer sees what it currently looks like?

[2020-06-18 12:43] #46 closed

[2020-06-18 12:49] LauraHilliger commented on #17
@all-contributors add @27Bslash6 for infra

[2020-06-18 15:08] comzeradd opened #54 "Add new contributors"
We can keep this issues always open to add new contributors

[2020-06-18 15:08] comzeradd commented on #54
@all-contributors add stduerre for code

[2020-06-22 10:19] comzeradd commented on #23
@all-contributors add jmarubay for data

[2020-06-22 10:20] comzeradd commented on #23
@all-contributors add jmarubay for Data

[2020-06-22 11:56] LauraHilliger commented on #23
@all-contributors add @jmarubay for data

[2020-06-22 12:18] LauraHilliger opened #56 "Discuss adding a link to Github in P4 footers with p4-council"
# Brief summary of task:
There is currently no organic route into contributing to P4. For example you would expect a link to the P4 repo (this repo) in the footer of P4-powered sites, but there isn't one. This issue is to suggest that @suzi-greenpeace talks to the P4-Council about the recommendation from [the Architectures of Participation](https://docs.google.com/document/d/1HFUzj4DFd5lKhpHHn_kH-

[2020-06-23 11:37] LauraHilliger opened #57 "Decide where the mailing list link should be included"
We have the Planet4-group mailing list for the general P4 community. Where in our onboarding process do we ask people to join it?
In the handbook?
Here on Github in the readme?
Both?
Elsewhere?

We should think through / discuss where we link the email group from. We can just discuss here in the comments!

[2020-06-23 11:38] LauraHilliger opened #58 "Check Google group post settings"
We need to decide how posting in the P4-group works. Maybe first message needs to be approved by a moderator and after that free posting? The Planet-4 Group is open to the public or do we approve people to join (this could get messy / have a lot of overhead)?

[2020-06-23 11:44] LauraHilliger opened #59 "Integrate Google interest form to onboarding process"
we have this form to see what folks are interested in and help us segment communities. Where does it go? How is it integrated into the onboarding process? https://docs.google.com/forms/d/e/1FAIpQLSfs4nETIgbnyN8H3PDRU4zL0FtQdHLWslZGKxTuZhtxbY5JXA/viewform

As we improve our contributor journeys and onboarding materials, we should also improve the intro bit to this form so that interested contributo

[2020-06-23 12:01] LauraHilliger opened #60 "Organize the public community folder"
Well, we have TONS of documentation, so this ticket is to remind us to talk about the Community folder and how we should organize it. I started to do that, but realized that the community team should do it together:

https://drive.google.com/drive/u/1/folders/0B3zegrtT-IU_SDllc2pmaFBlclk

Need input from @magalifatome @IlBrizzo @jmarubay @suzi-greenpeace and Andrada

[2020-06-23 12:12] LauraHilliger commented on #17
@all-contributors add @gaborgalgocz for translation

[2020-06-23 12:13] LauraHilliger commented on #17
@all-contributors add @WillMorrisJulien for design

[2020-06-23 12:16] dajbelshaw commented on #56
![p4-footer](https://user-images.githubusercontent.com/2429426/85402495-b3b33280-b553-11ea-85d2-dab775a9bb8b.png)

For the avoidance of doubt, we're talking about somewhere around the area indicated by the '1' in the above image :smiley:

[2020-06-23 12:38] LauraHilliger commented on #17
@all-contributors add andradaradu for documentation

[2020-06-23 12:57] IlBrizzo opened #64 "Rework the "Community" handbook page to reflect the P4 Community Strategy"
Once we published the Medium post on the Community Strategy, we should take some time to revamp the Community Page in the Handbook ( https://planet4.greenpeace.org/community/) to include:

- Each Sub-community visions, channels and Onboarding paths
- Updated links to Documentation and Videos
- Updated list of the Community Calls (should we split by Sub-track?)
- Proper design (Should it be a /hand

[2020-06-23 13:41] WillMorrisJulien commented on #52
Thanks for this @LauraHilliger I'll pick this up.

[2020-06-23 13:42] WillMorrisJulien commented on #49
Thanks @LauraHilliger

[2020-06-24 15:15] comzeradd commented on #23
I did the addition manually bd6519b05e293a48dabfc6dd32c54e2ace5434bf

[2020-06-30 10:21] comzeradd opened #65 "PLANET-5235 Header Carousel: Header text cuts off at 32 characters"
# Brief summary of task:
When placing text in the header field of the header carousel the text on the front end cuts off at 32 characters yet the counter indicates that it has a 40 character maximum.

## Objectives of task:
- Fix the backend character counter to match the 32 limit

[2020-06-30 10:24] comzeradd opened #66 "PLANET-5232 Add a visited state to blue links"
# Brief summary of task:
A visited link state has to be added to all blue links. It should be #4E92EA. No underline.

## Objectives of task:
- Change color to #4E92EA
- No underline text-decoration

# Relevant documentation:
This change would probably need to happen in the [styleguide](https://github.com/greenpeace/planet4-styleguide)

[2020-06-30 10:27] comzeradd opened #67 "PLANET-5231 On links with PDF icon change colour and remove Leaving Site icon"
# Brief summary of task:
Remove the `External Link` icon from PDF download links. Also make sure the PDF icon is the correct blue #0058CC

## Objectives of task:
- External link icon should not be present on pdf files
- pdf icon should have the link color #0058CC
- pdf icon should follow other link states colors (hover, visited)

[2020-06-30 10:32] comzeradd opened #68 "PLANET-5222 Create a "Planet 4" sidebar entry on wp-admin and group the settings"
# Brief summary of task:
We have a "Planet4" option (and a Planet4 Dev Report) inside settings, with a huge list of options. This ticket is about creating a new "Planet 4" entry in the sidebar (eg. like the one we have for EN plugin) that creates menu categories that group all the options.

## Objectives of task:
- Use [admin-site-alt](https://developer.wordpress.org/resource/dashicons/#admin-site

[2020-07-02 13:39] comzeradd commented on #67
Fixed at planet4-master-theme#1136

[2020-07-02 13:39] #67 closed

[2020-07-07 03:30] suzi-greenpeace commented on #68
@comzeradd I think this might be a UX/design ticket before it gets handed over to be a dev ticket? could still probably be an external contribution. @magalifatome what do you think?

[2020-07-08 08:03] magalifatome commented on #68
@suzi-greenpeace I think we can keep it as a dev ticket based on @comzeradd suggestions. I would make some slight changes though:

- Rename "Donate" to "Donate button" and move it below the "Navigation" section.
- Rename "Defaults" to "Defaults content".
- Rename "Search" to "Search content" and move it below "Defaults content".
- Reorder other items.

Here is a suggested list of the sections re-o

[2020-07-08 11:06] comzeradd commented on #68
Thanks @magalifatome I adjusted the description text based on your suggestions.

[2020-07-08 13:03] suzi-greenpeace commented on #68
ok awesome :) thanks both!

On Wed, Jul 8, 2020 at 5:07 AM Nikos Roussos <notifications@github.com>
wrote:

--
suzi grishpul
Planet 4 Product Owner, Greenpeace International
pronouns: they/them/she/her
location: Denver, CO, USA (GMT/UTC-6)
greenpeace.org

[2020-07-13 08:44] comzeradd opened #69 "PLANET-5227 Counter Block Accessibility"
# Brief summary of task:
Improve a11y status of the Counter block markup

## Objectives of task:
The counter block looks pretty good, VoiceOver reads the text separately if it has placeholder, for example:

[code]

To avoid this, add a "role=text" attribute to the "counter-text" div.

[2020-07-13 08:46] comzeradd opened #70 "PLANET-5228 Covers Block Accessibility"
# Brief summary of task:
Improve a11y of Covers block markup

## Objectives of task:
Known issues:

Content Covers
 * The image's alt tags seems to be the article slug currently.
 * Ideally, there shouldn't be two adjacent links with the same text or linking to the same page. The image and the title have pretty much the same text (the slug is pretty much the title), so check the links again after

[2020-07-13 08:47] comzeradd opened #71 "PLANET-5229 Hashtags Accessibility"
# Brief summary of task:
Improve a11y of tags markup

## Objectives of task:
A hashtag like #Consumption is read aloud as follows:

`"number sign consumption"`

Maybe we can wrap the number sign into a something like:
[code]

To make sure it reads as "Hashtag Consumption", instead of "Number sign consumption". Maybe we can even skip the "Hashtag" part and just hide the number sign to the SR.

Hash

[2020-07-16 08:35] koyan commented on #68
If noone else has started on this, I could start implementing it.

[2020-07-16 08:39] comzeradd commented on #68
Thanks :green_heart: Keep in mind that on the `Features` section only the Clouflare options are already there for now. The rest sections should be up to date.

[2020-07-17 07:00] comzeradd opened #72 "PLANET-5322 Conform our shell scripts to Google Styleguide using shfmt"
# Brief summary of task:
For consistency we can follow [Google Shell Script Styleguide](https://google.github.io/styleguide/shellguide.html) in all of our shell scripts. This is mainly for planet4-builder and planet4-circleci repositories, that hold most of our scripts.

## Objectives of task:
To enforce that we can use [shfmt](https://github.com/mvdan/sh) to adjust our current scripts but also li

[2020-07-20 20:40] r0bobo commented on #72
Can I suggest reviewers for the two pull-requests or are the relevant people pinged automatically anyway?

[2020-07-21 10:56] comzeradd commented on #72
Thanks @r0bobo :green_heart: I added a few relevant people as reviewers so they get the ping ;)

[2020-07-22 08:47] #68 closed

[2020-07-22 13:58] comzeradd opened #73 "PLANET-5275 Add a pa11y CI job for testing accessibility regressions"
# Brief summary of task:
[pa11y](https://pa11y.org/) is a tool that parses html documents in specific urls and discovers accessibility issues. It has a CI component making it easy to integrate to existing CI pipelines.

## Objectives of task:
- Add a new CI job in 3 repos (master-theme, plugin-blocks, landing-page) named "accessibility" that uses pa11y to discover accessibility issues.
- pa11y req

[2020-07-23 14:37] LauraHilliger commented on #64
DONE! Any adjustments or can we close this ticket? https://planet4.greenpeace.org/community/

[2020-07-23 15:18] LauraHilliger opened #74 "Update Planet4 Styleguide with introduction"
#Where did you find the bug?
https://planet4.greenpeace.org/styleguide/index.html

#What went wrong?
On the start and Introduction, the "homepage.md" isn't being displayed. I wanted to edit it a bit, and add some signposting to our [Design contribute section in the handbook](https://planet4.greenpeace.org/create/contribute/#design), and maybe spruce up the landing with the friendly images @WillMor

[2020-07-23 15:37] LauraHilliger commented on #56
Another idea from @gingerdude was about adding either a translated version of "how to contribute" page to NRO sites or a link to the handbook page: https://planet4.greenpeace.org/create/contribute/

[2020-07-24 16:12] comzeradd commented on #54
@all-contributors add r0bobo for infra

[2020-07-24 16:30] comzeradd commented on #54
@all-contributors add r0bobo for infra

[2020-07-27 09:17] dajbelshaw commented on #41
Nudging this as it's important.

[2020-07-29 08:50] LauraHilliger commented on #41
@IlBrizzo Ok, we should link to the full Code of Conduct sent in Sandrine's email:

https://drive.google.com/file/d/18BvOe-2hIuRAfNvKNX5nuOnxIPwzONKj/view

We still need a group email (conduct@greenpeace.org or similar) that forwards to the 4 International Persons of Trust.

[2020-07-29 13:08] tolen commented on #56
GPI is happy to point potential contributors to the Github!
You can find it in our footer here: https://www.greenpeace.org/international/

[2020-07-29 13:11] LauraHilliger commented on #54
@all-contributors add tolen for ideas

[2020-07-29 16:18] LauraHilliger commented on #54
@all-contributors add @tolen for ideas

[2020-07-30 13:38] LauraHilliger commented on #54
@all-contributors add @tolen for ideas

[2020-07-30 13:40] LauraHilliger commented on #23
@all-contributors add tolen for ideas

[2020-07-30 13:49] #23 closed

[2020-07-30 13:50] LauraHilliger commented on #54
hm. Something strange going on with our bot - I tried to add @tolen but the bot refuses. Then I added her manually, and she doesn't show up...looks like you've been having the same issue @comzeradd ??

[2020-08-03 09:20] LauraHilliger commented on #54
@all-contributors add @tolen for ideas

[2020-08-03 11:27] LauraHilliger commented on #54
@all-contributors add @tolen for ideas

[2020-08-03 15:41] LauraHilliger opened #75 "Rethink Medium layout & organization"
# Brief summary of task:
Like everything else, our Medium publication grew organically over the last few years. At this stage it might be good to rethink how it's organized.

## Objectives of task:
*Look at Medium: https://medium.com/planet4
*think about what's showing up
*reorganized based on [AoP](https://docs.google.com/document/d/1HFUzj4DFd5lKhpHHn_kH-YmSZv0jEuh7JPJdgwKfHwo/edit#heading=h.47tw

[2020-08-03 16:40] #17 closed

[2020-08-04 14:37] LauraHilliger opened #76 "Create a spreadsheet of NRO custom code"
# Brief summary of task:
After talking to @gingerdude (Nordics) about custom developing an accordion block, we realized that this would be handy to have an overview of what P4 related stuff NROs and other P4 driven sites (e.g. storytelling) have created that might be useful for others. This ticket is to start a spreadsheet to collect any and all the different blocks, plugins or snippets of codes P

[2020-08-05 11:00] Gingerdude commented on #76
Excellent, @LauraHilliger!

Having an overview of developed blocks, features and plugins would be great. Just to visualize it some more, it could have columns like `name`, `nro`, `source` (link to repo or file), `note` (e.g. "Currently in pilot phase") and perhaps `adopted by` or `interested`. The latter could be used as an indicator as to which of the entries are worth considering adopting into t

[2020-08-19 04:48] #72 closed

[2020-08-19 07:41] comzeradd commented on #54
@all-contributors add r0bobo for infra

[2020-08-25 06:01] stduerre opened #78 "PLANET-5444 target="_blank" gets added to links that aren't external"
#Where did you find the bug?
Every link in content that has href="javascript:void(0)", which is a common way to prevent default link behavior.
Example here: https://develop.greenpeace.ch/de/external-link/

#What went wrong?
A link that isn't to an external page is treated as external link. Functionality is broken (it opens in a new tab) and formatting is wrong (external link icon is added to it).

[2020-08-25 11:05] stduerre commented on #78
Relevant code: https://github.com/greenpeace/planet4-master-theme/blob/e28a5e14eda1b3c3da7a93c821b0ef9daf7a2d72/assets/src/js/external_links.js#L20

[2020-08-25 12:30] comzeradd opened #79 "PLANET-5403 Carousel won't let edit the html code"
# Where did you find the bug?

In a page with a Carousel Header block.

# What went wrong?

From the block context menu choosing "Edit in HTML" you get an empty box instead of the code.

# Do you have screenshots?

![ch](https://user-images.githubusercontent.com/939357/91174238-aea36880-e6e7-11ea-866c-cf3fd3e8a481.png)

[2020-08-25 12:35] comzeradd opened #80 "PLANET-5424 Spreadsheet block: URL vanishes after page being published"
# Where did you find the bug?

In any page with a Spreadsheet block.

# What went wrong?

When a Spreadsheet block is added to a page, entering a URL (eg. [this one](https://docs.google.com/spreadsheets/d/e/2PACX-1vR2LTvb__ifqY0ayZzqWyzkJGPyMUyUvili9YotHs_1YymJqjSeECFImhzlJfN3k9xw0CVBwR4HuTOg/pubhtml) and publishing the page. Then trying to edit the again the page, the URL spreadsheet URL field is

[2020-09-02 12:06] lithrel commented on #65
Closed by https://github.com/greenpeace/planet4-plugin-gutenberg-blocks/pull/355

[2020-09-02 12:06] #65 closed

[2020-09-02 12:19] #78 closed

[2020-09-03 16:49] comzeradd commented on #48
Fixed at greenpeace/planet4-child-theme-handbook#21

[2020-09-03 16:49] #48 closed

[2020-09-07 10:00] comzeradd opened #81 "PLANET-5466 Implement new Accordion block"
# Brief summary of task:

As a follow-up of [the idea](https://planet4.greenpeace.org/idea/show-hide-plugin-for-qas/) a new P4 block, codename *"Accordion"* has been designed.

The idea is to have a block that allows collapsible menus, behaving exactly like the "Column" blocks > Tasks Style on mobile.

## Objectives of task:
- Implement the block based on the mock up provided (see below)
- The blo

[2020-09-08 10:05] elncetoo commented on #81
So far I have a created a one block that is added for post, pages and  campaigns, but like a p4 block, so It needs to be registered as beta to match the dscr. It has Title & description, and accordion block style that looks according the voted style guide, the content  expands on hover. Problem is the fronendIndex is not visible on the frontend but on the editors frontend only.. and props are not

[2020-09-08 12:31] comzeradd commented on #81
Thanks @elncetoo :green_heart:

I suggest you push your branch, so we can kick off the discussion on implementation. Regarding the button, this is intended to be optional and it's just something editors can choose to add (pick up text and link). Similar to what we have for the Columns block on the Tasks style (although not WYSIWYG yet).

[2020-09-09 07:39] elncetoo commented on #81
I see got`cha ;) I reaalyyy want to fiddle a bit more with it now on my own tbh and i`ll push the latest thing i have today so we can see whats wrong with my code ;)

[2020-09-11 08:25] comzeradd commented on #66
Won't fix

[2020-09-11 08:25] #66 closed

[2020-09-11 08:25] comzeradd commented on #69
Fixed at greenpeace/planet4-plugin-gutenberg-blocks#366

[2020-09-11 08:25] #69 closed

[2020-09-11 08:27] comzeradd commented on #80
Fixed at greenpeace/planet4-plugin-gutenberg-blocks#378

[2020-09-11 08:27] #80 closed

[2020-09-18 13:03] #56 closed

[2020-09-21 09:00] planet-4 opened #82 "PLANET-5468 Columns block: Huge image on the 4th column"
Example: https://www.greenpeace.org/luxembourg/de/sich-informieren/greenpeace/team/

Description of the issue: The 4th image sometimes is huge on 4th column blocks (see screenshots)

**Tasks**
 - 4th Column should be either in the same row or at least not span in full width
 - Long words in first two columns are pushing the content. Could try word-break
 - Or flex-grow attribute

**Screenshots**

[2020-09-21 09:25] planet-4 opened #83 "PLANET-5207 Articles Block: Ensure proper reading by Screen Reader"
Used the ScreenReader (NVDA, VoiceOver) to test the [Articles Block](https://github.com/greenpeace/planet4-plugin-gutenberg-blocks/blob/master/assets/src/blocks/Articles/ArticlePreview.js) and check the reading flow makes sense and has no glitches or unwanted texts.

Problems found so far:
 * The mid dot separating the author and the date should be invisible to the screen reader (that might be alr

[2020-09-21 09:36] planet-4 opened #84 "PLANET-5226 Gallery Block Accessibility"
Make sure the Gallery block sounds good and makes sense in a Screen Reader, on its three different styles.

[Carousel Gallery](https://github.com/greenpeace/planet4-plugin-gutenberg-blocks/blob/master/assets/src/blocks/Gallery/GalleryCarousel.js)
* Provide an "aria-label"to "carousel-inner", explaining you are interacting with a slider, a set of pictures. As with the Carousel Header, the Carousel

[2020-09-21 09:38] planet-4 opened #85 "PLANET-5254 Author page accessibility"
The author page looks generally ok. Some minor issues:

* It reads the name, then the picture has the name as ALT tag so it reads the name tag. It could say "Picture of..." instead.
* The share buttons are read between the picture and the bio, maybe we should render somewhere else in the DOM.

The "posts by" section is ok, we have a few issues with the article teasers (the list of articles), but w

[2020-09-21 09:52] planet-4 opened #86 "PLANET-5256 "Post type + Hashtag" component Accessibility"
We have this tiny widget in some places, that looks like this:

People · #Consumption #Oceans

This is in some [page headers](https://github.com/greenpeace/planet4-master-theme/blob/master/templates/blocks/header.twig#L18), and [search](https://github.com/greenpeace/planet4-master-theme/blob/master/templates/single.twig#L27)/[article](https://github.com/greenpeace/planet4-plugin-gutenberg-blocks/b

[2020-09-21 09:54] planet-4 opened #87 "PLANET-5253 Footer Accessibility"
The footer is generally ok, it just needs some tiny tweaks:

* The slashes are read out loud as "diagonal", they should be *aria-hidden*.
* The copyright text should be wrapped by an element with *role=text* to be treated as a single text.
* Same with the Copyright symbol and the NRO text.

[code]
Potentially affected repositories: [planet4-master-theme](https://github.com/greenpeace/planet4-maste

[2020-09-21 09:56] planet-4 opened #88 "PLANET-5211 Home page Accessibility: Navigation bar and "Skip to..." links."
Maks sure navigation flow sounds good on a screen reader.

Tasks:
 * Hide "Skip to" links to the SR using aria-hidden.
 * Search: Both the input and the search icon are read as "Search". Make the input more descriptive using aria-label or hide tha search icon to the SR or add a label as "Press return/enter to search" or "click to search".
 * Countries list, make sure it works well, is browsable, a

[2020-09-21 09:59] planet-4 opened #89 "PLANET-4374 Improve search results to resolve Accessibility and Vertical Spacing"
Apply spacing vertical and horizontal so that the results are readable and balanced.

Attached are the measurements for the adjustments. The font weights and design layouts follow the existing search results css settings. The knock back on the image is #000000 Alpha 25%.

**Tasks**
- Adjust spacing on the Search results page based on the mockups

**Screenshots**

![Screenshot](https://jira.greenpe

[2020-09-21 10:02] planet-4 opened #90 "PLANET-5434 Add php-8.0 job to our repos CI"
We are using php-7.4 at production. We want to add a php-8.0 tests pipeline to prepare for the upgrade.

**Documentaion**
- https://stitcher.io/blog/php-8-before-and-after
- https://stitcher.io/blog/new-in-php-8

**Tasks**
- Add a php-8 tests job to run along side with 7.4
- In case of issues in our codebase open follow up tickets to fix them

[code]
Potentially affected repositories: [planet4-mas

[2020-09-21 10:06] planet-4 opened #91 "PLANET-5198 Carousel Header: 'https://' error message not added"
Recently, all blocks with custom fields have been introduced a message to display the need of the "https://" parameter for custom URLs. However, this block was not updated resulting in links not working if they are not updated. 

**Tasks**
- Replicate validation code/functionality from other blocks for the URL fields
 

[code]
Potentially affected repositories: [planet4-plugin-gutenberg-blocks](ht

[2020-09-21 10:12] planet-4 opened #92 "PLANET-5331 Articles block: Scheduled Posts are not appearing once published"
An Editor schedules a Post (in this case, a PR) to auto-publish at a later date/time. When the schedule date/time arrives the Post goes live. The Post **should** appear on the front-end of the website in the Articles block. This is not happening.

The Post does appear on the Posts list, as it should. It isn't until the Admin purges the cache that the Post appears in the Articles block.

**Tasks**

[2020-09-21 10:15] planet-4 opened #93 "PLANET-5386 YouTube embed: URL parameters not working"
It's common practice to add `?rel=0` parameter to YT URLs to prevent YouTube from showing related/suggested video from another YT channel (other than our own) when a video ends. However this does not work when using the YT or Embed blocks.

The editor must chose between allowing YT suggested videos and retain the full-width/responsive height design OR suppress the suggested videos by using the HTM

[2020-09-21 11:19] #71 closed

[2020-09-22 12:32] planet-4 opened #94 "PLANET-4861 Adjust search sorting options"
The scope of this ticket is to add a "Less recent" filter to search for older creation date of content first. This way users are able to search for archive content easier.

**Tasks**
- Add sort option called "Oldest"
- Rename option "Most recent" as "Newest"
- Make sure string is translatable
- Make sure that archived content should be sorted

[code]
Potentially affected repositories: [planet4-mas

[2020-09-22 13:15] planet-4 opened #95 "PLANET-5503 Investigate PageSpeed report and identify potential fixes and enhancements"
Currently the PageSpeed is not giving us a very high score (especially on mobile). At the time this ticket was created we had 38 on Mobile and 68 on Desktop.

https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Fwww.greenpeace.org%2Finternational%2F&tab=desktop

**Tasks**
- Go through the report and identify low-hanging fruits we could easily fix.
- Describe available options

[2020-09-24 12:15] IlBrizzo opened #96 "Help drafting the WYSIWYG Medium post"
The team has started a new post for our Medium publication https://medium.com/planet4 - this post should tell the story behind the choice, technical approach and benefit behind dynamic editor activation for all P4 blocks. here's the G-Doc (accessible by anyone https://docs.google.com/document/d/1IMbGely21pXFYkeN9SnP-hqHCIu81GDPdP7csejZvvA/edit?usp=sharing) - Please comment in this ticket if you's

[2020-09-24 12:36] IlBrizzo commented on #64
Finally found the time to update it! Inserted all tracks + links to github / CoC and so on!

[2020-09-24 12:36] #64 closed

[2020-09-25 17:58] IlBrizzo commented on #41
Hello and thank you @becha42 for your PR! After we chatted with Sandine and the IPOTs, we agreed that for now I will add ,my email for the moment (I am a certified person of trust), while we also find a female P4 team member to train as well! Together, we'll act as first contact for eventual CoC violations!

Also (as next step) I have to create a follow-up ticket to match the parts of the CoC that

[2020-09-25 17:58] #41 closed

[2020-09-25 18:11] IlBrizzo opened #97 "Match Code of Conduct with the Greenpeace International Code of Conduct"
As part of our commitment to respect and protect volunteers and contributors, we should update this github P4 CoC https://github.com/greenpeace/planet4/blob/master/CODE_OF_CONDUCT.md to match the values of the Greenpeace International Code Of Conduct that all staff must sign to work at Greenpeace.

### Objectives of task:
match the relevant parts of the P4 Github CoC with the relevant components o

[2020-09-26 15:54] cnmunn commented on #94
hey! My name is chris (they/them) and i wanna start contributing this project and work on this as my first ticket. i cloned the repo already and installed docker and im gonna start working on this request now : ) id love to meet some new people working on this project and learn more about it! this is my first open source contribution so any tips/advice/people to collab with would be awesome. i cur

[2020-09-28 09:20] planet-4 opened #98 "PLANET-5481 Image Archive UI improvements"
We integrated the GPI Image Archive into the master-theme at greenpeace/planet4-master-theme#1135. It's currently "masked" under a Feature toggle (Planet 4 > Features).

There are some low-hanging fruits we can pick up to improve UI, listed below.

**Tasks**
- Use a dashicon (eg. [format-image](https://developer.wordpress.org/resource/dashicons/#format-image))
- Push the menu right after the Media

[2020-09-28 15:01] comzeradd commented on #94
Hi Chris, thank you for reaching out and your interest to contribute :green_heart:

I'll assign you this ticket, but feel free also to look around the rest of issues, and of course the codebase. You can check our [detailed technical documentation](https://support.greenpeace.org/planet4/), which also includes how to setup your local development environment among other things.

[2020-09-29 13:42] planet-4 opened #99 "PLANET-5516 Author bio translation displaying wrong language"
Example page: https://www.greenpeace.org/canada/fr/histoires/42536/discours-du-trone-les-liberaux-doivent-renoncer-a-sauver-lindustrie-nucleaire/

Description of the issue: On the French version of this blog post, the author's bio is displayed in English even though a French translation of the bio is set up. If you click to read more of the bio, it displays correctly in French. I have noticed a si

[2020-09-29 13:48] planet-4 opened #100 "PLANET-5514 UTM tracking codes on links get mangled"
Example page: https://www.greenpeace.org/slovenia/
Check links on 4 Icons columns

Inserting UTM tracking codes to specific links in the editor, like this:
https://cee.donate.greenpeace.org/sl/campaigns?utm_source=greenpeace.org&utm_medium=referral&utm_campaign=CEE_SI_005_Donate&utm_term=P4visitors

But when saved, the GA links are added too (on all external domains), and the ampersand (&) charact

[2020-09-29 13:52] planet-4 opened #101 "PLANET-5509 Disable xmlrpc"
xmlrpc is enabled in all of our instances (is enabled by default in WP). We probably don't rely on that anywhere in our code and it's safe to disable it. Having this enabled is a target for brute-force attacks.

**Tasks**
- Investigate if disabling it has any side effects.
- Disable it preferably through code (not plugin, but maybe check its code).

[code]
Potentially affected repositories: [plane

[2020-09-29 13:55] planet-4 opened #102 "PLANET-5397 Sync translatable strings to language po files"
When looking at the source code (and the editor) there are a lot of possibly translatable strings. These strings are not present in the .pot language files, so are missing from the strings that people can translate.

**Tasks**
- Look for translatable strings that are missing from .po files in both app repos and add them.
- Use [poedit](https://poedit.net/) to generate the .mo files.
- Write a docu

[2020-09-29 14:06] planet-4 opened #103 "PLANET-4590 Image block: Photo credit/copyright is not visible in the editor"
In the editor, when an Image is added to post the caption is there but the credit/copyright text is missing. It's visible though in the frontend. That can be confusing for editors.

 

**Screenshots**

![Screenshot](https://jira.greenpeace.org/secure/attachment/30178/credi-photo-available-in-frontend.PNG)
![Screenshot](https://jira.greenpeace.org/secure/attachment/30177/no-credit-photo-in-backend.

[2020-09-29 17:06] suzi-greenpeace commented on #94
Hi @cnmunn ! thanks for finding us! Like Nikos said above, feel free to check out our open issues and read up on the documentation of the project. Could you also fill out this form and tell us a bit more about yourself? http://bit.ly/P4contribute thanks! we'll be in touch.

[2020-09-30 10:53] planet-4 opened #104 "PLANET-5538 Use h1 for the Search Results title"
It's a good practice for pages to have the top headline as h1. In the Search Page that's the "(n) results for '<term>'.
eg. https://www.greenpeace.org/international/?s=climate&orderby=_score

**Tasks**
- Change [that title](https://github.com/greenpeace/planet4-master-theme/blob/master/templates/search.twig#L14) from h2 to h1

[code]
Potentially affected repositories: [planet4-master-theme](https:

[2020-09-30 11:04] #73 closed

[2020-09-30 12:00] oekeur commented on #104
That would give strange results SEO wise I guess, right?
How about:
`<h1>Search for [term]</h1>`
`<h2>x results found<h2>`
?

[2020-10-01 18:39] emmarise commented on #104
Our team changed it just now, I think @powersaudrey25 has already pull request.

[2020-10-01 19:11] janocano commented on #103
hmmm on master i am seeing the copyright logo show up!
![image](https://user-images.githubusercontent.com/34040871/94852802-6bc86500-03f8-11eb-944d-42c6de0f8373.png)

[2020-10-01 19:18] Inwerpsel opened #105 "Running "make watch" causes bad performance of local environment"
## Brief summary of task:

Currently we have 2 options to watch for file changes in the SCSS and JS files in https://github.com/greenpeace/planet4-master-theme and https://github.com/greenpeace/planet4-plugin-gutenberg-blocks/ .

1) run `npm start` in both directories from your host OS. This has the best performance, but that way we can't be sure which version of npm is being used. That can lead t

[2020-10-01 21:34] Inwerpsel commented on #104
Ok, can this one be closed?

[2020-10-01 22:40] janocano commented on #92
I can see my post on the main page, but not on the press center page

[2020-10-01 23:49] janocano commented on #92
After further looking into I don't think this is a bug anymore. I can see my scheduled posts pop up as scheduled.

[2020-10-02 00:01] janocano commented on #92
I have tried multiple times, if this is still a bug it would need more specifications. What exactly caused this? Are there examples of times that this happened?

I would close this issue.

[2020-10-02 00:25] SanmithraMudigonda commented on #92
Task was to investigate if the issue still persists. Bug could not be reproduced, I think it is resolved after converting to WYSIWYG.

[2020-10-02 09:45] sagarsdeshmukh commented on #103
Hi @janocano , Looks like you were tested for gallery block image, indeed for gallery block the image credit and copyright text are visible. The issue is reproducible for image block in block editor :)

[2020-10-08 08:38] comzeradd commented on #104
Fixed at https://github.com/greenpeace/planet4-master-theme/commit/4186372c4c5caddebd393a4bacc3a37321929e6a

[2020-10-08 08:38] #104 closed

[2020-10-15 11:45] IlBrizzo commented on #96
All done and published! https://medium.com/planet4/a-new-experience-for-planet-4-blocks-the-wysiwyg-upgrade-82b3d334d6ba

[2020-10-15 11:45] #96 closed

[2020-10-20 14:50] IlBrizzo opened #106 "Help designing the "Be Right Back" page"
Our IT colleagues can now offer a standardized “_Be right Back_” page (see [](https://brb.p4.greenpeace.org) ), to provide a **temporary landing page whenever any web property of our toolset is temporarily offline**.

A redirect to this page could be set up both on demand and in case of sudden unavailability of a Greenpeace web property, not only to P4 sites, but to any Wordpress, Open Social, Con

[2020-10-21 15:05] IlBrizzo opened #107 "Upgrade "tweet share" to twitter standards"
## Brief summary of task:
We need help to explore the adoption of twitter standards in all our TW Share buttons.

As an admin I want more control over the tweet button for **each page**, access to all the parameters and for it to use twitter standards for tweet button: https://publish.twitter.com/

[](https://publish.twitter.com/?buttonHashtag=campaignHashtagsecondhashtag&buttonRecommendation=gree

[2020-10-22 09:45] dpivo commented on #89
**UAT**
Go to https://k8s.p4.greenpeace.org/test-saturn/
Search for something

[2020-10-23 13:32] magalifatome commented on #89
@dpivo I checked the paddings and the vertical padding between the image and the grey line is not right for XL, L & M screens (see screenshot attached). The vertical padding should be 24px as per in the mockups.
![search results-vertical spacing](https://user-images.githubusercontent.com/66964242/97009784-d3c82200-1544-11eb-90ac-467165761ce7.png)

[2020-10-23 14:40] planet-4 opened #108 "PLANET-5570 Image block: remove styles"
The Image block currently offers two styles: "Default" and "Rounded". However, the functionality is broken and you actually cannot select the "Rounded" one... The design team has review this and decided:

 * Keep only "Default" style
 * Hide the "Styles" section in the block sidebar

**Screenshots**

![Screenshot](https://jira.greenpeace.org/secure/attachment/31752/Screenshot+2020-09-30+at+08.38.3

[2020-10-23 14:41] planet-4 opened #109 "PLANET-5441 Hashtag cuts off text for social media sharing"
Example Page:
https://www.greenpeace.org/canada/en/story/41373/why-you-have-to-say-gnlnonmerci-before-september-14/

Description of the issue: The title of this page has a hashtag (#). By default, when somebody clicks the Twitter button at the top of the page, the tweet only contains the title text that comes before the hashtag. The text following the hashtag is cut off. Effectively, this makes us

[2020-10-23 17:05] lovlin-thakkar commented on #109
Hi, please check this pull request I've opened: https://github.com/greenpeace/planet4-master-theme/pull/1216

[2020-10-27 13:38] planet-4 opened #110 "PLANET-5616 Blocks usage report doesn't display edit link for posts without title"
The Blocks usage report (administration side, Blocks > Usage) lists Id and Title of posts, the Id has a link to the post on the frontend, the Title has a link to the edit page. For a post with no title, there's no link to the edit appearing.

**Tasks:**
- Display title "(no title)" for an untitled post, like the All posts/pages admin list does.
- Reverse link behaviour: ID > Backend Editor, Title

[2020-11-03 14:30] comzeradd commented on #88
Fixed at https://github.com/greenpeace/planet4-master-theme/pull/1214

[2020-11-03 14:30] #88 closed

[2020-11-03 14:38] comzeradd commented on #85
Fixed at https://github.com/greenpeace/planet4-master-theme/pull/1220

[2020-11-03 14:38] #85 closed

[2020-11-03 19:07] LiseBocklerGP opened #111 "GPLux ChildTheme fixes"
## Brief summary of task:
Greenpeace Luxembourg ChildTheme causes many issues during GPI releases because design changes interfere with our chiltheme (buttons break, colours change back to MasterTheme, etc). As GPLux we do not have our own developper, only 1 webbie (me) so we can just act on superficial things as custom CSS, that I keep adding up with "!important" mentions to overrite the existant

[2020-11-11 15:13] planet-4 opened #112 "PLANET-5266 Search: Remove custom green background gradient"
The results page from search has a green tint. I think that Vini added it to differentiate the results page from the main site. In our new drive to have white backgrounds for accessibility we need to remove it.

*Tasks*
- Remove the custom green background gradient

[code]
Potentially affected repositories: [planet4-master-theme](https://github.com/greenpeace/planet4-master-theme)

[2020-11-27 14:40] comzeradd commented on #82
Fixed at greenpeace/planet4-plugin-gutenberg-blocks#400

[2020-11-27 14:40] #82 closed

[2020-11-27 14:41] comzeradd commented on #79
This will be addressed during Carousel Header WYSIWYG conversion.

[2020-11-27 14:41] #79 closed

[2020-11-27 14:42] comzeradd commented on #99
Fixed at https://github.com/greenpeace/planet4-master-theme/pull/1207

[2020-11-27 14:42] #99 closed

[2020-12-07 10:41] planet-4 opened #113 "PLANET-5259 EN Form Accessibility"
Then EN Form has a few minor issues.

- The text on the left side could maybe have a **role=text** attribute to make sure is not read separately if it has links in between.
- The **Country** field's label, is read after the field, it should be read before.
- The text in the checkboxes can probably use **role=text** also to ensure is not read as separate bits of content if it has links in the middl

[2020-12-07 10:42] planet-4 opened #114 "PLANET-5257 "Teasers" accessibility"
Teasers are those blocks that show a preview of the post, like the list of posts in the [Articles Block](https://github.com/greenpeace/planet4-plugin-gutenberg-blocks/blob/master/assets/src/blocks/Articles/ArticlePreview.js) or the different twig templates in master-theme repo starting with `tease-`.

- Make sure the mid dot chars and number sign of the hashtags are not read aloud, this might alre

[2020-12-07 10:43] planet-4 opened #115 "PLANET-5252 Social Media Block Accessibility"
As with the Media Block, the Social Media block embeds content from other places, so the accessibility of that content depends on them.

There's not much to do here, except maybe we can add a field here as well, an Accessibility text field to let editors add some additional info about the embedded content in case the accessibility of the provider (Twitter, Facebook, etc) sucks. Then we render that

[2020-12-07 10:45] planet-4 opened #116 "PLANET-5213 Carousel Header Accessibility"
Make sure the Carousel Header makes sense when being used with a Screen Reader.

The possible tasks are:
 * Currently, the left arrow is the first element you meet with the SR on. Maybe we could move them together in the HTML, after the slides, so they are read in conjunction when the SR is on. Or maybe we could have a different set of arrows, specifically for the SR reader.
 * The arrows should h

[2020-12-07 10:47] planet-4 opened #117 "PLANET-5212 Columns Block Accessibility"
Make sure the Columns block is readable by Screen Readers.

Known issues so far:

Redundant links are often used in visual design but for a SR it means a link will be read two or three times, for example, in the Icons style, the column Icon and the column Title have the same link. We should hide the icon to the SR using aria-hidden.

**Tasks:**
- Hide icons in the Icons style (see `LAYOUT_ICONS` c

[2020-12-07 10:53] planet-4 opened #118 "PLANET-5245 Checkbox Accessibility"
This task is just about going through some pages and blocks using checkboxes and checking they are accessible. For example, the Cookies block uses checkboxes, the Search page does too.

Our checkboxes have some custom styles, but as far as I tested they are ok. There is an issue with VoiceOver, it reads the labels twice, but it seems to be reported by other users even when using fully native check

[2020-12-07 10:54] planet-4 opened #119 "PLANET-5246 Cookies block Accessibility"
The [Cookies block](https://github.com/greenpeace/planet4-plugin-gutenberg-blocks/blob/master/assets/src/blocks/Cookies/CookiesFrontend.js) looks ok, but maybe it could use a test with NVDA or Orca screen readers, I only tested VoiceOver.

The main ingredients to watch in the Cookies block are the checkboxes, but there is separate Checkbox Accessibility issue for them:

JIRA Ticket: https://jira.g

[2020-12-07 10:55] planet-4 opened #120 "PLANET-5247 Spreadsheet Accessibility"
The Spreadsheet [frontend](https://github.com/greenpeace/planet4-plugin-gutenberg-blocks/blob/master/assets/src/blocks/Spreadsheet/SpreadsheetFrontend.js) has some issues we may want to double check:

- The title attribute present in the column headers (currently is "Sort by"), is read in all rows, in all columns, before the content, it looks like the title attribute should actually be the name of

[2020-12-07 10:56] planet-4 opened #121 "PLANET-5248 Happy Point Accessibility"
The main issue with the Happy Point block is that it lives inside a frame. The frame is accessible, but it's a bit cumbersome because you have to "enter that web area" and "exit" it to continue browsing trough the top frame. I guess there is no way around it so far, unless we can load that content dynamically into the DOM or write our own form and just send the data.

That said, the easily fixable

[2020-12-07 10:57] planet-4 opened #122 "PLANET-5249 Submenu Block Accessibility"
The Submenu block looks (sounds) quite OK in the 'long' and 'short' styles. 
Choosing a numbered list in some of the levels makes it a bit too verbose (it announces the list, then the list number for each element...), but it's correct in terms of a11y.

The 'sidebar' style has a few caveats. It's browsable, but it's read before the content when it's present, not sure this is the behaviour we want.

[2020-12-07 10:57] planet-4 opened #123 "PLANET-5250 Take Action Boxout Accessibility"
The Take Action Boxout is under UX revision, so I would consider checking with Magali on this task.

There are some issues with hashtags and the CTA not showing unless you hover the element, refer to the Hashtags a11y ticket and the Covers Block a11y ticket to know more about those issues and how to address them.

As for this block specifically, the main issue is that it is rendered inline, but sh

[2020-12-07 10:59] planet-4 opened #124 "PLANET-5251 Media Block Accessibility"
The Media block embeds content from other sources, sometimes using an iframe, or a native media player in case it's a direct link to an mp3, wav, or mp4 file.

So in most cases, the accessibility of that content does not depend on us. 

However I guess we can improve the UX a bit on our side, suggestions: 
 - In the case of the MP4 file ([MediaElementVideo component](https://github.com/greenpeace/

[2020-12-07 11:04] comzeradd commented on #70
Fixed at https://github.com/greenpeace/planet4-plugin-gutenberg-blocks/pull/444

[2020-12-07 11:04] #70 closed

[2020-12-07 11:04] comzeradd commented on #87
Fixed at https://github.com/greenpeace/planet4-master-theme/pull/1219

[2020-12-07 11:04] #87 closed

[2020-12-07 11:05] comzeradd commented on #89
Fixed at https://github.com/greenpeace/planet4-master-theme/pull/1236

[2020-12-07 11:05] #89 closed

[2020-12-07 11:06] planet-4 opened #125 "PLANET-5615 Use button tags for buttons"
Currently a lot of our buttons use anchor tags, that's not good in terms of accessibility, and also causes issues when trying to disable them. We should use <button> tags instead.

From a quick search it seems that all of our primary buttons are anchors, and also our "Donate" button, but maybe there are more.

[code]
Potentially affected repositories: [planet4-master-theme](https://github.com/gree

[2020-12-07 11:44] #100 closed

[2020-12-07 11:45] #109 closed

[2020-12-07 11:46] #92 closed

[2020-12-07 15:12] LucasSilbernagel opened #126 "Add an option for a second button on each slide of the carousel header block"
##  Feature summary

For the carousel header block, it would be nice to have the option to add a second button to each slide. I was able to achieve this for GPCA by copying the carousel header block from the browser dev tools along with a couple of necessary script tags, duplicating the existing button on one of the slides, and pasting all of that code into a custom HTML block on the page in P4. I

[2020-12-08 07:09] comzeradd commented on #126
Thanks @LucasSilbernagel. Closing this here, so it's reviewed first from a Product/Design perspective as an [Idea](https://planet4.greenpeace.org/idea/add-an-option-for-a-second-button-on-each-slide-of-the-carousel-header-block/).

[2020-12-08 07:09] #126 closed

[2020-12-09 16:17] planet-4 opened #127 "PLANET-5387 Campaigner User Role missing from Author dropdown field"
Description of the issue: I am not able to reassign a Campaign page to a user with the role of Campaigner. Their name does not appear in the dropdown list.

**Screenshots**

![Screenshot](https://jira.greenpeace.org/secure/attachment/31515/Screenshot+2020-08-05+at+15.56.01+-+Kelli+Tolen.png)
![Screenshot](https://jira.greenpeace.org/secure/attachment/31514/Screenshot+2020-08-05+at+15.57.45+-+Kelli

[2020-12-09 16:19] planet-4 opened #128 "PLANET-5264 Covers block: Display issue on mobile device"
[Example Page](https://www.greenpeace.org/international/tag/oil/)

Description of the issue: The 3rd cover should be partially visible on mobile as per the mockup attached.

**Screenshots**

![Screenshot](https://jira.greenpeace.org/secure/attachment/32182/covers_block.jpg)
![Screenshot](https://jira.greenpeace.org/secure/attachment/32181/Screenshot+2020-06-30+at+13.06.08+-+Kelli+Tolen.png)
[code]

[2020-12-09 16:20] planet-4 opened #129 "PLANET-5489 Happypoint mailing list iframe toggle doesn't work"
There is currently a small bug in the Happypoint block: if the editor enters an iframe url in the input, the iframe is shown even if the `mailing list iframe` checkbox is unchecked. This is not the expected behaviour, at least according to the help text below the input!

*Tasks*
- Implement one of the two options, in priority:
  1. disabling the iframe url field when the toggle button is Off.
  2.

[2020-12-09 16:22] planet-4 opened #130 "PLANET-5680 PHP Notice on search page"
The below PHP Notices are populating the error logs:

[code]

[code]

[2020-12-09 16:23] planet-4 opened #131 "PLANET-5779 ErrorException: Warning: A non-numeric value encountered"
Sentry Issue: [PLANET4-MN|https://sentry.greenpeace.org/greenpeace/planet4/issues/1252/?referrer=jira_integration]

{code}
ErrorException: Warning: A non-numeric value encountered
  File "/wp-content/plugins/planet4-plugin-gutenberg-blocks/classes/blocks/class-carouselheader.php", line 115, in P4GBKS\Blocks\CarouselHeader::prepare_data
    $y = isset( $slide['focal_points']['y'] ) ? round( $slide[

[2020-12-10 09:32] comzeradd commented on #98
Done in https://github.com/greenpeace/planet4-master-theme/pull/1215

[2020-12-10 09:32] #98 closed

[2020-12-10 09:33] comzeradd commented on #102
Done in https://github.com/greenpeace/planet4-plugin-gutenberg-blocks/pull/383

[2020-12-10 09:33] #102 closed

[2020-12-10 09:34] #95 closed

[2020-12-10 09:35] comzeradd commented on #94
This was done in https://github.com/greenpeace/planet4-master-theme/pull/1241

[2020-12-10 09:35] #94 closed

[2020-12-11 08:09] comzeradd commented on #128
Fixed at https://github.com/greenpeace/planet4-plugin-gutenberg-blocks/pull/462

[2020-12-11 08:09] #128 closed

[2020-12-17 11:40] comzeradd commented on #110
Fixed at https://github.com/greenpeace/planet4-plugin-gutenberg-blocks/pull/460

[2020-12-17 11:40] #110 closed

[2020-12-17 11:40] comzeradd commented on #93
Fixed at https://github.com/greenpeace/planet4-master-theme/pull/1258

[2020-12-17 11:40] #93 closed

[2021-01-05 09:24] oekeur commented on #81
This can be closed right? :)

[2021-01-05 09:26] oekeur commented on #74
Seems like duplicate of #21

[2021-01-05 09:29] elncetoo commented on #81
yup :)

[2021-01-07 07:34] comzeradd commented on #81
Fixed at greenpeace/planet4-plugin-gutenberg-blocks#440

[2021-01-07 07:34] #81 closed

[2021-01-20 12:47] stduerre opened #132 "PLANET-5897 Allow embedding Planet4 content into third party websites"
We have cases in GP Switzerland where we would like to embed content from our Planet4 website into third party websites. For example:
- Petitions we run directly on Planet4 into partner websites
- Other forms for paid promotions on local news sites

At the moment, NGINX is set up to send a  `x-frame-options: SAMEORIGIN` header ([related config](https://github.com/greenpeace/planet4-docker/blob/dev

[2021-01-20 14:13] oekeur commented on #132
GP Netherlands would also really like this!
Our use case is for use in cross-domain cookies.
We have two domains in use (greenpeace.nl & greenpeace.org/nl).
By embedding an (lightweight) iframe of the domain A into domain B, we are able to exchange the cookies consent.
Currently this only works one-way, if we would be able to embed Planet4 into our other domain, we would have to show less cookie n

[2021-02-02 15:24] comzeradd commented on #131
Fixed at greenpeace/planet4-plugin-gutenberg-blocks#472

[2021-02-02 15:24] #131 closed

[2021-02-02 15:25] comzeradd commented on #130
Fixed at greenpeace/planet4-master-theme#1267

[2021-02-02 15:25] #130 closed

[2021-02-02 15:26] comzeradd commented on #127
Fixed at greenpeace/planet4-master-theme#1257

[2021-02-02 15:26] #127 closed

[2021-02-02 15:27] #108 closed

[2021-02-12 13:40] #112 closed

[2021-02-27 22:20] aeisenberg commented on #125
I'll take a look at this one.

[2021-02-27 23:18] aeisenberg commented on #125
There are more `a` tags, but I am having trouble converting the remainder. Either, I believe they should remain as `<a>` or I don't see them being used in the repos at all, so I do not want to touch them since I can't see what they look like.

The following are anchors I don't know how to use:

[code]

The following are anchors I think should remain anchors:

[code]

In the first block, could some

[2021-03-01 11:23] comzeradd commented on #125
Pinging @mleray and @pablocubico who have spent more time into this.

[2021-03-09 08:03] mleray commented on #125
@aeisenberg Thanks for looking into this, I'll try to answer your questions! We should have more made it clear in the ticket, but the only `a` tags that need to be converted to `button` tags are the ones that are used as buttons. You can recognise them because they have the `.btn` class, usually together with either `btn-primary`, `btn-secondary` and `btn-donate`.

So in your previous comment, ind

[2021-03-17 10:34] mleray commented on #125
**Update**: we discussed this issue a bit more within the P4 team and actually it's not the best to convert all of our anchor tags into buttons… That would mean that we need to implement in JS the href, opening in new tabs etc and I didn't really think it through when creating the ticket. From a quick [accessibility search](https://a11y-101.com/design/button-vs-link), the problem is more that we m

[2021-03-17 10:34] #125 closed

[2021-03-26 10:46] IlBrizzo opened #133 "Add an author image to Posts"
## Relevant documentation:

Check out this idea in the P4 handbook --> https://planet4.greenpeace.org/idea/add-an-author-image-in-blog/ and make sure you get in touch with the P4 team for any guidance --> planet4-pm-group@greenpeace.org

## Dependencies on other work:

Should link to a command in P4 Settings to determine for which post type this feature should be activated

### Example of similar

[2021-03-27 20:55] DanceParty commented on #114
Grabbing this one (not able to assign myself)

[2021-03-29 08:33] comzeradd commented on #114
Thank you! 💚 Let us know if something is not clear in the ticket description.

[2021-03-29 18:17] DanceParty commented on #114
One of the confusing things is around the bullets. The bullets are pseudo elements generated in the css. I don't believe there is a way to hide these type of elements from the screenreader unless I write them in the jsx. I can move forward with that if that is okay. Just wanted to make sure I wasn't missing anything

[2021-03-30 10:59] comzeradd commented on #114
You are right, css pseudo elements are hard to hide from screen readers. But indeed, we could just add that bullet as a regular `<span>` in the jsx template so we can use the appropriate markup to "hide it" from screen readers.

[2021-03-31 23:43] DanceParty commented on #114
Awesome! Just wanted to make sure that would be the correct approach here. Thanks, hopefully I'll have a PR by end of week :)

[2021-04-10 16:14] aeisenberg commented on #118
I'll take a look at this.

[2021-04-10 19:21] aeisenberg commented on #118
I've been playing around with the [All blocks template page](http://www.planet4.test/testing-all-blocks-evergreen-template/). There are 4 checkboxes on the page and I used them all with MacOS voiceover on. On Firefox and Chrome, I see no issues. On Safari, I do hear the description read twice. I also see that it is sometimes hard to get Safari to read the correct text that you are hovering on.

In

[2021-04-14 17:18] planet-4 opened #134 "PLANET-5760 Remove jQuery code from load_more.js"
Rewrite all jquery code in `assets/src/js/load_more.js` with vanilla JS.

**Components**
* `setupLoadMore()`  runs an ajax request based on button dataset. Used in author and taxonomy templates.
* `fadeOut()` could be done in CSS ? The rest has to be in vanilla JS.

[code]
Potentially affected repositories: [planet4-master-theme](https://github.com/greenpeace/planet4-master-theme)

[2021-04-14 17:22] planet-4 opened #135 "PLANET-5972 Prevent using PNG images for photographs"
We currently allow to use PNG images in a lot of places, but these cannot be (lossy) compressed by Cloudflare so end up being more than 10 times as big for the same image. We can restrict the images that can be chosen by file type so that they can only pick a JPG for blocks that are supposed to show photographs (e.g. carousel).

For a sense of scale of the impact. Just a single png photograph on t

[2021-04-14 17:24] planet-4 opened #136 "PLANET-5868 Update Table block caption styles"
The captions for the Table block should have the same styles as the Image block's captions, both in the frontend and in the editor (the center one, we don't have different caption alignment options for the Table block).
- [Table styles](https://github.com/greenpeace/planet4-plugin-gutenberg-blocks/blob/master/assets/src/styles/blocks/core-overrides/Table.scss)
- [Image styles](https://github.com/g

[2021-04-14 17:26] planet-4 opened #137 "PLANET-5758 Remove jQuery from header.js"
Rewrite all jquery code in `assets/src/js/header.js` (in [master-theme](https://github.com/greenpeace/planet4-master-theme/blob/master/assets/src/js/header.js)) with vanilla JS.

**Components**
- `setupHeader()` manages the navbar interactions.

[code]
Potentially affected repositories: [planet4-master-theme](https://github.com/greenpeace/planet4-master-theme)

**Testing**
The navbar (i.e. the top

[2021-04-15 23:39] DanceParty commented on #114
Finally getting around to this, it seems like the "#" is currently read aloud as "hashtag". My understanding of this issue is that we don't want to read "pound sign" or "number sign", but I feel that "hashtag" is appropriate here and I will probably leave it.

[2021-04-16 18:38] DanceParty commented on #114
Alright PRs opened, thanks for the patience and would appreciate some feedback whenever you have the chance @comzeradd 🙇

[2021-04-17 16:36] aeisenberg commented on #134
I'll take a look at this. Please assign to me.

There is a small issue here. This line:

[code]

The call to `off` will remove relevant jquery event handlers. If we try to remove jquery from this file, jquery event handlers will not be removed from the `load_more` dom elements. It's likely a low chance of anything bad happening, but thought I'd bring it up.

[2021-04-17 17:24] aeisenberg commented on #134
The solution I am working on uses `fetch`. Are we able to use this, or do we need to support older browsers?

[2021-04-19 19:06] andradaradu opened #138 "Content + analytics audit for the Handbook"
## Brief summary of task:
Analysis of content and analytics for the Handbook since we launched the P4 project.

### Tasks:

- bring all the data together to allow analyzing consumption of Handbook pages by the P4 community
- Include the review of the section in the annual survey related to documentation and Handbook
- extract content analytics from the launch of P4 versus last year (custom report:

[2021-04-19 19:16] andradaradu opened #139 "map broken/ outdated content"
## Brief summary of task:
Map the broken or outdated content on all the channels where there is P4 documentation

### Tasks:

- Find/ suggest a tool for broken links
- Map Broken images pages
- Map Outdated videos

## Relevant documentation:

### Other resources:
[- Documentation Audit Google drive folder](https://drive.google.com/drive/folders/1ZuOfDKoTCUUfSNlsJFyMVaATRcEz1VJa)
[- Handbook Google

[2021-04-19 19:28] andradaradu opened #140 "Documentations’ sites eg"
## Brief summary of task:
- research and compile a list of documentation sites that have a simple design and taxonomy and could be used as inspiration for our project

### Tasks:
- research
- recommend documentation sites'

## Relevant documentation:

### Other resources:

## Estimated length of task:

2h

### Timeline for task:

## Dependencies on other work:

### Example of similar work:

- [A11

[2021-04-20 07:05] lithrel commented on #134
Hi @aeisenberg, no problem for `fetch` :+1:

[2021-04-20 18:36] andradaradu opened #141 "Manual of style for P4 Documentation"
## Brief summary of task:
Create a manual of style for the P4 Documentation, that can easily be followed by all current and future specialists that write documentation.

### Tasks:
- establish set up tone and voice
- indications for creation of accessible content
- write indications for writing content for the web
- write indications for writing content for international audiences

### Example of

[2021-04-20 18:45] andradaradu opened #142 "[Handbook] Create page layouts/templates"
## Brief summary of task:
Create layouts or templates for P4 documentation

### Tasks:
- create layouts for pages - Handbook
- create layouts for posts - Handbook

### Example of similar work:
Title:
Subtitle:
Table of contents:
Features:
Visuals:
Additional resources

## Help:
You can always reach out to the Planet4 team at planet4-pm-group@greenpeace.org if you have a question. -->

[2021-04-21 07:38] #134 closed

[2021-04-21 18:30] andradaradu opened #143 "PLANET-5646 Handbook: review Pablo's recommendation #1 - Removing the top bar and moving the search to the sidebar"
## Brief summary of task:

As suggested by Pablo Cuadrado and described in [PLANET-4847](https://github.com/greenpeace/planet4/issues/49) we are exploring a more user-friendly Handbook nav. This task is about a UX review of the top bar removal and the move of the search to the sidebar. See Snapshots.

## Dependencies on other work:

- relates to issue #49

## Help:
You can always reach out to the

[2021-04-21 18:35] #51 closed

[2021-04-21 18:49] andradaradu opened #144 "PLANET-5647: Handbook: review Pablo's recommendation #3 - Submenu block changes"
## Brief summary of task:

As suggested by Pablo Cuadrado and described in #49 we are exploring a more user-friendly Handbook nav.

This task is about a UX review of the Submenu block, which is widely used across the Handbook. The Submenu block is quite unpredictable having 2 columns, and the idea is to move it to the right side, made it a bit smaller, single-column, and added a "CONTENTS" title

[2021-04-21 19:02] andradaradu opened #145 "PLANET-2980: Review Handbook: Site structure and nav UX"
## Brief summary of task:

While reviewing the Content, we should also spend some time in reviewing the Handbook UX and overall navigation.

As of now, the handbook is mostly focused on "Breadth" - meaning we want to let people know what P4 is about (START), how to launch and deploy their website (CREATE, IMPLEMENT) and then how to administer / improve it once live (MANAGE).

While switching focus

[2021-04-22 14:20] #52 closed

[2021-04-22 14:24] andradaradu opened #146 "PLANET-5326: Planet4PLANET-5326 Handbook sidebar font size and wrapping"
## Brief summary of task:

n the handbook sidebar (https://planet4.greenpeace.org/) the font size is a bit too small (for medium screens and up). Also, when wrapping the padding is not taken into account (see screenshot)

Recommendation from Will:

font-weight: 700 to the headings and bring the list links up from 0.8rem to 1rem

### Tasks:

-   Use bold for sidebar category headings
-   Use 1rem f

[2021-04-22 14:27] andradaradu opened #147 "PLANET-5649: Handbook: propose new search bar placement (esp. desktop version)"
## Brief summary of task:

In desktop screens there is unnecessary space between the header and the search bar, whihc is also misaligned,.

We should align the GP logo with the search bar, reducing the overall blue overlay, see scrennshot and eventually align with William Morris-Julien for design specs

UPDATE:

-  Pablo Cuadrado started already doing some design and proposing alternative placemen

[2021-04-26 14:27] IlBrizzo opened #149 "Harmonize Design elements in handbook with Design systems (Links)"
### Brief summary of task:

As we launch the Design systems of P4 - https://p4-designsystem.greenpeace.org/ it's time to harmonize the handbook content with the new design elements source.

### Objectives of task:

This is mostly content assessment and update, and should include:
- Blocks
- Profile setup
- Page layouts
- Design section
- Navigation bar

Others?

### Relevant documentation:

https:

[2021-04-26 14:49] yaili commented on #140
I can take this one.

[2021-04-26 15:43] IlBrizzo commented on #149
@andradaradu all blocks sections have been updated! https://planet4.greenpeace.org/tag/blocks/

[2021-04-28 09:42] yaili commented on #140
I'll add the examples I collect here (WIP):

- [GOV.UK Design System](https://design-system.service.gov.uk/): It's clean visually, focused on content and user experience; content follows defined template ([example](https://design-system.service.gov.uk/components/accordion/))
- [Microsoft Style Guide](https://docs.microsoft.com/en-us/style-guide/welcome/): This is a very comprehensive content style

[2021-05-05 08:12] mleray commented on #129
Fixed in https://github.com/greenpeace/planet4-plugin-gutenberg-blocks/pull/471

[2021-05-05 08:12] #129 closed

[2021-05-05 12:00] mleray commented on #123
This issue is currently blocked, since we first want to decide on a new design and convert the block to WYSIWYG ([PLANET-4812](https://jira.greenpeace.org/browse/PLANET-4812)).

[2021-05-05 13:08] mleray commented on #119
This is currently blocked since it makes more sense to do it after redesigning the Cookies ([PLANET-6075](https://jira.greenpeace.org/browse/PLANET-6075)).

[2021-05-05 13:19] mleray commented on #118
Thanks @aeisenberg for having a look 💚 I have no idea whether or not we have this sort of statistics, I don't think so, but our data analyst is currently on holiday so I can't confirm. So indeed it sounds like we can let that go, at least for now. However, we do have a few other checkboxes on the site, I'll add some testing guidelines to the description 🙂

[2021-05-05 13:59] mleray commented on #91
Fixed with https://github.com/greenpeace/planet4-plugin-gutenberg-blocks/pull/483

[2021-05-05 13:59] #91 closed

[2021-05-05 15:27] mleray commented on #101
Solved with https://github.com/greenpeace/planet4-master-theme/pull/1289

[2021-05-05 15:27] #101 closed

[2021-05-06 07:40] mleray commented on #115
This block is broken at the moment ([PLANET-5994](https://jira.greenpeace.org/browse/PLANET-5994)), so this should be done after it's fixed

[2021-05-06 08:44] mleray commented on #113
This should be done after the block has been converted to WYSIWYG ([PLANET-4814](https://jira.greenpeace.org/browse/PLANET-4814))

[2021-05-06 08:47] mleray commented on #116
This should be done once the block is fully converted to WYSIWYG ([PLANET-6120](https://jira.greenpeace.org/browse/PLANET-6120))

[2021-05-26 03:36] aeisenberg commented on #120
I'll be picking this up now. The title fix is straight forward. There are a handful of other changes that would make tables more accessible:

- Add a caption
- Add a summary
- Use the `scope="col"` attribute

I'll add the third one since it is easy, but in order to add a caption and summary, there needs to be a change in the template as well.

I'll try to reproduce this as well.

[2021-05-26 03:53] aeisenberg commented on #120
Another accessibility issue is that the column sorting is not tab-selectable. I'll fix that.

[2021-05-26 11:27] #132 closed

[2021-05-26 13:10] #139 closed

[2021-05-31 07:23] comzeradd commented on #54
@all-contributors add aeisenberg for code

[2021-05-31 07:25] comzeradd commented on #54
@all-contributors add aeisenberg for code

[2021-06-04 02:18] PadminiRai commented on #141
I'd like to work on this issue.

[2021-06-04 05:12] irisguo98 commented on #75
I'm a big fan of your Medium and I'm interested in working on this!

[2021-06-04 08:25] kritisingh1 commented on #136
I'd like to take a look at this issue. Thanks!

[2021-06-04 13:10] #136 closed

[2021-06-04 17:12] aliya-rahmani commented on #146
@andradaradu , I am interested to work on this issue.

[2021-06-06 04:35] aparnaabraham commented on #50
Hi, I would like to work on this issue

[2021-06-07 08:00] planet-4 opened #152 "PLANET-5761 Remove jQuery from search.js"
Rewrite all jquery code in `assets/src/js/search.js` (in [master-theme](https://github.com/greenpeace/planet4-master-theme/blob/master/assets/src/js/search.js)) with vanilla JS.

**Components**

`setupSearch()` manages search request and appearance.

[code]
Potentially affected repositories: [planet4-master-theme](https://github.com/greenpeace/planet4-master-theme)

[2021-06-08 15:45] yehee commented on #133
Hi! Can I work on this?

[2021-06-08 16:47] sagarsdeshmukh commented on #133
Hello @yehee , Sure. 💚

[2021-06-08 20:33] Anita-ihuman commented on #142
@andradaradu I would like to take up this task, but I could use some help fixing this.

[2021-06-11 07:10] himanshu007-creator commented on #137
Hi I would like to work on this issue!

[2021-06-11 08:13] comzeradd commented on #137
Hi @himanshu007-creator, thank you for wanting to contribute 💚

As a starting point here is our documentation with instructions on how to setup your local development environment:
https://support.greenpeace.org/planet4/

[2021-06-11 08:51] comzeradd commented on #152
Thanks @himanshu007-creator 💚

[2021-06-11 17:15] shruti1421 commented on #146
If no one is working, can I work on this issue?

[2021-06-11 17:24] shruti1421 commented on #143
Can I work on this issue?

[2021-06-13 14:47] irisguo98 commented on #75
According to the Greenpeace P4 Architecture of Participation, the top 4 reasons people contribute to open source projects are:

1. Values alignment
2. Gaining experiences
3. Recognition
4. Contributing to social good

Therefore, our Medium should be organized in a way that highlights these reasons for people to contribute to this project.
Here are a few respective suggestions to increase people's

[2021-06-14 07:27] comzeradd commented on #146
Thanks both 💚 Since @aliya-rahmani expressed interest first, I'm assigning the ticket to you.

Here is a starting point in our technical documentation, in order to get your local development environment up and running:
https://support.greenpeace.org/planet4/

[2021-06-14 09:48] #114 closed

[2021-06-14 12:58] shruti1421 commented on #147
Can I work on this issue?

[2021-06-14 20:17] andradaradu commented on #142
Hi @Anita-ihuman and thanks for reaching out to us!
Could you please send us an email to planet4-pm-group@greenpeace.org email address to try set up a meeting so we can catch up on this?

Thanks!

[2021-06-14 20:18] andradaradu commented on #141
Hi @PadminiRai and thanks for reaching out to us!
Could you please send us an email to planet4-pm-group@greenpeace.org email address to try set up a meeting so we can catch up on this?

Thanks!

[2021-06-14 20:18] andradaradu commented on #143
Hi @shruti1421 and thanks for reaching out to us!
Could you please send us an email to planet4-pm-group@greenpeace.org email address to try set up a meeting so we can catch up on this?

Thanks!

[2021-06-14 20:19] andradaradu commented on #50
Hi @aparnaabraham and thanks for reaching out to us!
Could you please send us an email to planet4-pm-group@greenpeace.org email address to try set up a meeting so we can catch up on this?

Thanks!

[2021-06-15 18:37] Rukmini-Meda commented on #49
@LauraHilliger @WillMorrisJulien Can I take up this issue?

[2021-06-16 15:37] andradaradu commented on #143
duplicate of #49

[2021-06-16 16:22] andradaradu commented on #49
Hi @Rukmini-Meda !
Thank you so much for reaching out and for your interest in sharing some of your super powers to build a better web. As a next step, do you mind filling this form http://bit.ly/P4contribute?

[2021-06-16 16:34] andradaradu commented on #147
Hi @shruti1421!
We will be reaching out to you soon to set up a call and see exactly which tickets you could take over!

Thank you once again for your interest in the project!

[2021-06-18 15:37] aliya-rahmani commented on #146
@comzeradd  I've made a PR  for this issue, please review it

[2021-06-22 10:23] comzeradd commented on #137
Hey @himanshu007-creator. Do you require any assistance?

[2021-06-22 10:39] himanshu007-creator commented on #137
Hi! I am clear with the issue and will work on it soon, have exams tomorrow 😅 so sorry for the delay

[2021-06-23 14:35] IlBrizzo commented on #114
Thank you so much for your help @DanceParty ! We made sure your awesome work is acknowledged [in the release note this ticket was part of](https://planet4.greenpeace.org/story/13023/v2-58/), it's not a bestseller credit, but it's the least we could do!

Rock on 🤘

[2021-06-25 05:51] comzeradd commented on #54
@all-contributors add DanceParty for code

[2021-06-25 05:54] comzeradd commented on #54
@all-contributors add lovlin-thakkar for code

[2021-06-25 05:55] comzeradd commented on #54
@all-contributors add GP-Dan-Tovbein for code

[2021-06-25 05:56] comzeradd commented on #54
@all-contributors add @GP-Dan-Tovbein  for code

[2021-06-25 05:57] comzeradd commented on #54
@all-contributors add @lovlin-thakkar for code

[2021-06-25 05:59] comzeradd commented on #54
@all-contributors add kritisingh1 for code

[2021-06-25 06:01] comzeradd commented on #54
@all-contributors add sg7801 for doc

[2021-06-30 23:13] suzi-greenpeace commented on #114
yay thanks @DanceParty !

[2021-07-09 13:18] #120 closed

[2021-07-20 07:48] planet-4 opened #159 "PLANET-6261 Accordion: "Add button" not reachable with tab"
The tab button correctly navigates you to all other elements of the block, but the "Add button" element is not reachable with tab. Instead it always jumps over it to the next element.

If you're not on the last item of an Accordion, the focus goes to the title of the next item directly if you hit tab with your cursor on the text field.

**Screencast**

https://user-images.githubusercontent.com/939

[2021-07-21 07:26] comzeradd commented on #103
This was fixed at https://github.com/greenpeace/planet4-plugin-gutenberg-blocks/pull/461

[2021-07-21 07:26] #103 closed

[2021-08-31 19:13] #138 closed

[2021-09-02 15:28] andradaradu opened #160 "Replace the "Greenpeace" logo"
### Brief summary of task:

Consider replacing the "Greenpeace" logo at the top of the sidebar nav to "Planet 4 Handbook" (perhaps with a smaller Greenpeace logo below). This logo should take you to the Handbook home (not to https://planet4.greenpeace.org/), and another link to https://planet4.greenpeace.org/ could be placed in a less conspicuous place in the sidebar nav.

### Objectives of task:

[2021-09-02 15:32] andradaradu opened #161 "Align colors in the Handbook with Design System"
### Brief summary of task:

Consider reducing the number of colours text can have. Define 1 colour each for: normal text and headings, text that is a link. For example in https://planet4.greenpeace.org/content/ there are several text colours (intro text is black, intro links are light blue, hashtags are yellow, box text is white, footer text is 3 shades of blue).

### Relevant documentation:

[Pla

[2021-09-02 15:34] andradaradu opened #162 "[Handbook] Define style of the notes/callouts in content pages"
### Brief summary of task:

Revisit the style of the notes/callouts in content pages (see yellow notes here for example https://planet4.greenpeace.org/content/blocks/) to see if these can be less intense.

### Resources:

[P4 Design System](https://p4-designsystem.greenpeace.org/05f6e9516/p/60f977-colours/b/308811)

[2021-09-02 15:58] andradaradu opened #163 "Remove the social sharing icons"
### Brief summary of task:

Remove social sharing icons to reduce cognitive load of content pages. Example https://planet4.greenpeace.org/act/block-social-media-cards/

### Objectives of task:

_No response_

### Relevant documentation:

_No response_

### Other resources:

_No response_

### Estimated length of task:

_No response_

### Timeline for task:

_No response_

### Dependencies on other

[2021-09-02 16:01] #145 closed

[2021-09-02 16:03] andradaradu commented on #74
@magalifatome can we close this?

[2021-09-02 16:15] andradaradu commented on #142
Hi @Anita-ihuman are you still interested in working on this? Let me know, we did a lot of progress, I just need the help of a designer to make sure the templates I did would literally look good
![Child page (level 2)](https://user-images.githubusercontent.com/67154062/131879657-cc8fadd7-4ecf-44a5-b49a-c4f717b849f1.jpg)
![child page (level 3)](https://user-images.githubusercontent.com/67154062/131

[2021-09-07 07:01] magalifatome commented on #74
Yep totally @andradaradu

[2021-09-07 15:32] #74 closed

[2021-09-14 00:36] suzi-greenpeace commented on #143
hey @andradaradu - I thought we're moving the navigation to the top... doesn't that make this irrelevant now?

[2021-09-14 13:17] andradaradu commented on #143
yes, you are right @suzi-greenpeace
Gonna close this one. thanks for the sharp eye.

[2021-09-14 13:17] #143 closed

[2021-09-14 13:18] #49 closed

[2021-09-14 13:20] #147 closed

[2021-09-14 14:12] suzi-greenpeace commented on #50
I think that since we're going with a single-level, header nav for now, this is unnecessary.

[2021-09-14 14:12] #50 closed

[2021-09-22 02:58] suzi-greenpeace commented on #111
being picked up by p4 team

[2021-09-22 02:58] #111 closed

[2021-09-22 14:10] LiseBocklerGP commented on #111
Fantastic thank you !

*Lise Bockler *
*Communication Manager*
Greenpeace Luxembourg

On Wed, 22 Sept 2021 at 04:58, suzi grishpul ***@***.***>
wrote:

[2021-09-28 16:55] YumekaMengjiaLYU commented on #159
Hi there, is the issue still unresolved? I would love to contribute!

[2021-09-30 09:29] planet-4 opened #164 "PLANET-6407 Spreadsheet block: indicators are not present"
[Example Page](https://www-dev.greenpeace.org/international/campaign/ocean-declaration/)

When a user wants to sort the order of the content appearing in a spreadsheet there are no indicators appearing to inform the user this is even possible.

There is also no reset option to return the table to the default view.

**Screenshots**

![Screenshot](https://jira.greenpeace.org/secure/attachment/32934/

[2021-09-30 09:30] planet-4 opened #165 "PLANET-6406 Spreadsheet block: sorting function not working as expected"
[Example Page|https://www-dev.greenpeace.org/international/story/49329/spreadsheet-test/]

When sorting numerical data the results do not appear in numerical order

**Screenshots**

![Screenshot](https://jira.greenpeace.org/secure/attachment/32932/Screen+Shot+2021-09-21+at+11.58.58.png)
![Screenshot](https://jira.greenpeace.org/secure/attachment/32933/Screen+Shot+2021-09-21+at+12.02.13.png)
[code]

[2021-09-30 09:30] planet-4 opened #166 "PLANET-6405 PDF link/button icons not showing in later shown search results"
In the search results you can get some PDF documents which they should have the PDF link and button icons. The first search results do have them as expected, but the ones that are hidden at first and shown only when scrolling or clicking on the "Show more results" button don't (see screenshot).

[Page example](https://www-dev.greenpeace.org/international/?s=ocean&orderby=_score&f%5Bctype%5D%5BDocu

[2021-09-30 09:30] planet-4 opened #167 "PLANET-6387 Make import/export functionality work for all post types"
We currently have a relatively advanced import/export functionality that unfortunately is only implemented for the "Campaign" post type, only a small fraction of our content.

Luckily it seems that supporting other types is only a matter of removing the check for the post type. There is a [quick draft PR](https://github.com/greenpeace/planet4-master-theme/pull/1447) where it seems to work already,

[2021-09-30 09:30] planet-4 opened #168 "PLANET-6163 Support clickable links in Spreadsheet block"
Currently if the source sheet contains links around the cell value, then these links are not included in the block output, only their link text.

This is because the block uses the CSV publication of the sheet to get the data.

Perhaps using another format (or maybe API) we can get it to include the links.

If you use the HTML publication of the sheet, Google does include the links, but turns them

[2021-09-30 09:30] planet-4 opened #169 "PLANET-6154 Disable sync of archived posts to ElasticSearch if archived posts are never included in search"
Currently we always sync the p3 archived posts to ElasticSearch, even when these are set to never be returned from the search results. In a lot of cases this more than doubles the total amount of data synced to ES, putting unnecessary strain on the cluster and making a full sync a lot slower. We can check the option at sync time and exclude the whole "archive" type if it's turned off for logged in

[2021-09-30 09:30] planet-4 opened #170 "PLANET-6139 Add more filter options to Posts Report"
Improve the **"Post Report"** (lives under `/wp-admin/edit.php?page=posts-report` to allow more flexible an easy content management, especially for P4 sites with a huge amount of content. Below a few accessibility criteria, we can split the whole idea into individual stories and assess what type of data should be available where:

Add the following filters (next to date range filter):
- As an Admi

[2021-09-30 09:30] planet-4 opened #171 "PLANET-6000 Images with links open the link in a new tab and the lightbox in the old tab simultaneously."
When a user creates an image with a link, the link opens in a new tab and the Lightbox appears in the old tab simultaneously.

It would be nice to automatically ignore the lightbox if the image has a link. Let's check if we can consistently detect that.

**Tasks**
- Don't enable Lightbox when the Image has a link

[code]
Potentially affected repositories: [planet4-plugin-gutenberg-blocks](https://

[2021-09-30 09:30] planet-4 opened #172 "PLANET-5321 Same class (page-template) is used on both body and post content wrapper"
In our post type templates we put the `.page-template` class on the div element that is wrapping the post. For some reason the same class can also be on the body element. I couldn't find what is adding the class yet (WordPress, us, sitemap plugin, ... ). An example is the sitemap.

This already caused an issue (maybe more previously) were a rule was matching unintended things, so maybe we should c

[2021-09-30 09:48] comzeradd commented on #159
Hi @YumekaMengjiaLYU, it's still unresolved, so it's all yours :)

[2021-09-30 09:57] comzeradd commented on #146
Fixed at https://github.com/greenpeace/planet4-child-theme-handbook/commit/9b44694c1131665bf3094a7c6adf729a58925a11

[2021-09-30 09:58] comzeradd commented on #54
@all-contributors add aliya-rahmani for code

[2021-09-30 09:58] comzeradd commented on #54
@all-contributors add @aliya-rahmani for code

[2021-09-30 10:36] planet-4 opened #174 "PLANET-4334 Allow a list of non-P4 urls not to have the ↗️ icon"
We add an external icon on links that point to an external domain. As a follow up we should not display the external link icon for some links we use regularly for engagement opportunities (eg. `act.greenpeace.org`).

**Requirements**
 - Add a new field _"Commonly used external domains"_ under _Planet 4 > Social_.
 - Use a textaea field to hold multiple domains.
 - Help text: _"Links for these doma

[2021-09-30 10:45] planet-4 opened #175 "PLANET-5682 Investigate implementing the Search page in React"
This could be built as a Proof of Concept to assess its feasibility.

**Tasks**
- Investigate feasibility on Reach re-implementation.
- Check if [Elasticpress React|https://github.com/10up/elasticpress-react] is something we can use.
- Can we interact directly with ElasticSearch?

[code]
Potentially affected repositories: [planet4-master-theme](https://github.com/greenpeace/planet4-master-theme)

[2021-10-01 15:25] Tendol commented on #117
I can work on this.

[2021-10-01 16:16] akankshakmr174 commented on #86
I can work on this! :)

[2021-10-01 16:22] victoria-miltcheva commented on #165
Hi there, I'd like to contribute to this but it looks like the example page is broken: https://www-dev.greenpeace.org/international/story/49329/spreadsheet-test/.

[2021-10-01 16:30] aditi977 commented on #160
I can work on this issue

[2021-10-01 16:34] aditi977 commented on #171
I can try to work on this issue

[2021-10-01 16:35] Rishika-7 commented on #161
Hey, I'd like to work on this issue! Can you assign it to me?

[2021-10-01 16:36] aliya-rahmani commented on #86
@akankshakmr174 go ahead and make a PR for this issue.

[2021-10-01 16:43] aliya-rahmani commented on #165
Here's the correct link:https://www.greenpeace.org/international/press-release/49648/who-strengthens-air-quality-guidelines-greenpeace-response/

[2021-10-01 16:43] yehee commented on #166
@planet-4 I'd like to take on this issue, but I couldn't seem to find any posts with documents attached.
![Screen Shot 2021-10-01 at 9 42 09 AM](https://user-images.githubusercontent.com/28884850/135657205-2e9d0a15-67dd-4550-8a3d-abac528de61c.png)

This is the link I am looking at currently: https://www.greenpeace.org/international/?s=&orderby=_score

I might be looking at the wrong place, could y

[2021-10-01 16:46] Inwerpsel commented on #165
Hey @victoria-miltcheva , thanks for letting us know. I'll check if I can set up another example. If you want to reproduce it locally already, it should work with any numerical data.

[2021-10-01 16:47] jenniferca commented on #161
@Rishika-7 - Please work on this issue. Leaving a comment like you just did claims this issue as yours.

[2021-10-01 16:48] Inwerpsel commented on #165
Thanks @aliya-rahmani , I just missed your message when posting. That page should work too to get an example.

[2021-10-01 16:53] yehee commented on #160
I'd like to take on this issue!

[2021-10-01 16:57] Inwerpsel commented on #161
@Rishika-7 It looks like this issue might be missing some information. I'll check what the correct specs are, but feel free to have a look already.

[2021-10-01 17:03] Rishika-7 commented on #161
@Inwerpsel Yes, I actually went through the issue, checked the handbook example, and looked for the color specs in the design document. But they seem to be aligned with the use of the color which was mentioned in the design document. It'd be great if you could clarify a bit for me about what needs to be done. Thanks

[2021-10-01 17:08] GP-Dan-Tovbein commented on #171
Go for it :muscle:

[2021-10-01 17:10] VallariAg commented on #164
I would like to work on this issue.

[2021-10-01 17:15] GP-Dan-Tovbein commented on #166
Hi @yehee I'll take a look and keep you posted

[2021-10-01 17:18] unnati2201 commented on #162
Hello,
Here less intense mean we need to reduce the color intensity of Yellow, right?

[2021-10-01 17:28] unnati2201 commented on #57
Hey,
I think we must ask them to join the community in both.  As we need to expand the community so it's better to add it in both places.

[2021-10-01 17:31] Inwerpsel commented on #161
@Rishika-7 I discussed this with @andradaradu and the ticket currently does not have a design for the intended result, only a qualitative description that is a bit vague. So maybe it's not the best one to pick up, sorry about that, are there any other tickets you would like to pick up?

[2021-10-01 17:32] akankshakmr174 commented on #124
I can work on this.

[2021-10-01 17:33] unnati2201 commented on #97
Hey,
I want to work on this.

[2021-10-01 17:34] akankshakmr174 commented on #86
@aliya-rahmani This issue seems to be resolved. Checked with voiceover and NVDA on Chrome.

[2021-10-01 17:35] GP-Dan-Tovbein commented on #164
@VallariAg Go for it!

[2021-10-01 17:36] GP-Dan-Tovbein commented on #164
@VallariAg FYI, here is the ticket [url](https://jira.greenpeace.org/browse/PLANET-6407) for a more information

[2021-10-01 17:46] GP-Dan-Tovbein commented on #162
Yes. You can check it out this url https://p4-designsystem.greenpeace.org/05f6e9516/p/60f977-colours/b/308811 and find a new yellow color that accurate with rest of the pallete

[2021-10-01 17:47] GP-Dan-Tovbein commented on #124
Go for it!

[2021-10-01 17:49] GP-Dan-Tovbein commented on #124
@akankshakmr174 I've updated the ticket with the JIRA ticket for more information :)

[2021-10-01 17:50] akankshakmr174 commented on #124
@GP-Dan-Tovbein Thank you!

[2021-10-01 17:55] Rishika-7 commented on #161
@Inwerpsel I understand, I am still looking for some other easy ticket that is unassigned. Since I am a newbie, I am actually unaware of a lot of things and how I should work.

[2021-10-01 18:09] MridulaGarg commented on #163
working on it

[2021-10-01 18:18] GP-Dan-Tovbein commented on #163
Thanks @MridulaGarg. Have fun :)

[2021-10-01 18:22] GP-Dan-Tovbein commented on #117
@Tendol go for it! 👍

[2021-10-01 18:25] GP-Dan-Tovbein commented on #117
@Tendol here is the ticket [url](https://jira.greenpeace.org/browse/PLANET-5212) if you need more information. Also added to the PR's description.

[2021-10-01 18:50] isabelle-np commented on #113
I can work on this

[2021-10-01 19:31] isabelle-np commented on #116
I can work on this

[2021-10-01 19:33] victoria-miltcheva commented on #165
Thank you both for your help! I was able to get both https://github.com/greenpeace/planet4-plugin-gutenberg-blocks and https://github.com/greenpeace/planet4-docker-compose running, but I don't understand how to get changes made to my local `planet4-plugin-gutenberg-block` directory to show up in the Docker local dev environment - `www.planet4.test`. For example, I made a change to https://github.c

[2021-10-01 19:43] Inwerpsel commented on #165
@victoria-miltcheva I'll help out on the Slack channel so that we can keep this ticket focused on the subject :slightly_smiling_face:

[2021-10-01 19:43] victoria-miltcheva commented on #165
@Inwerpsel sounds good!

[2021-10-01 20:24] cplank commented on #135
I can work on this!

[2021-10-01 22:35] GP-Dan-Tovbein commented on #135
@cplank Go for it!

[2021-10-01 22:48] victoria-miltcheva commented on #165
PR: https://github.com/greenpeace/planet4-plugin-gutenberg-blocks/pull/687

[2021-10-06 08:58] #86 closed

[2021-10-06 10:34] comzeradd commented on #166
The search query linked in the description seems to work. The first results have the icon, but when you load more the icon is missing.

https://www-dev.greenpeace.org/international/?s=ocean&orderby=_score&f%5Bctype%5D%5BDocument%5D=1

[2021-10-09 23:19] yehee commented on #166
@comzeradd Thanks a lot for providing me with the link! It seems like the posts have not been properly processed when more results are fetched. Specifically, [this](https://github.com/greenpeace/planet4-master-theme/blob/dba06f0e2b7878ba176cab27e406be119dfb8dd9/assets/src/js/pdf_icon.js#L15) is where the `pdf-link` is added to the class names. This is done prior to calling `setupSearch` [here](htt

[2021-10-12 08:45] comzeradd commented on #160
Fixed at https://github.com/greenpeace/planet4-child-theme-handbook/pull/24. It will be live in the next release.

[2021-10-12 09:18] #163 closed

[2021-10-12 09:54] #58 closed

[2021-10-12 10:44] #59 closed

[2021-10-12 11:43] IlBrizzo commented on #75
@irisguo98 thanks a lot for your inputs and sorry for late feedback! These are all great ideas and I will jump on the Medium publication later this week! Of course will give you an update with the results! Luca

[2021-12-30 10:09] artze commented on #152
Hi, I can take on this issue!

[2022-01-03 13:25] mleray commented on #152
Hi @artze, thank you so much for wanting to help out 💚 But we actually started working on this already, and it's currently on hold because of some problems that have been reported regarding our search function. Hopefully you can find another issue that inspires you!

[2022-01-10 15:23] gerardsegarra commented on #162
@unnati2201 are you working on this? If not I can do it :)

[2022-01-12 10:21] comzeradd commented on #162
Since it's inactive for some time now, I'm re-assigning. There are plenty of tickets to pick up something new :)

[2022-01-12 11:45] comzeradd commented on #171
We had some time to work on that, and it's now fixed at https://github.com/greenpeace/planet4-plugin-gutenberg-blocks/pull/759/commits/4e11dcb334be1817a3cb21147842653776685127

[2022-01-12 11:45] #171 closed

[2022-01-12 14:25] #172 closed

[2022-01-12 14:26] comzeradd commented on #152
Done in https://github.com/greenpeace/planet4-master-theme/pull/1564

[2022-01-12 14:26] #152 closed

[2022-01-12 14:28] comzeradd commented on #137
Done in https://github.com/greenpeace/planet4-master-theme/pull/1559

[2022-01-12 14:28] #137 closed

[2022-01-13 17:34] gerardsegarra commented on #162
I'm sorry too, something just came up and I'm not sure I'll be able to dedicate time to this :(

[2022-01-13 19:56] #142 closed

[2022-01-24 21:16] oekeur commented on #174
Hi friends 🤗

Sure this won't interfere in a weird way if it's implemented like this?
The pre-connect domains are a technical solution for pre-connecting certain assets. If we piggyback on this by refactoring it to "Preferred external domains", that would mean that certain third party domains unintentionally might also lack the external link icon..
I know it's a bit of a edge case, but just to be

[2022-01-24 21:18] oekeur commented on #135
What's the status on this? :)

[2022-01-28 07:40] comzeradd commented on #135
This is one is still open for development

[2022-01-28 07:41] comzeradd commented on #174
Yeah, we discussed this also in the team. It may make more sense to have an explicit configuration option for this. I'll update the description requirements.

[2022-02-01 01:31] artze commented on #164
Hi @comzeradd @VallariAg

If this issue is not currently being worked on, I can take this up

[2022-02-01 01:36] artze commented on #166
@comzeradd @yehee

if this issue isn't currently being worked on, I can take this up. Let me know!

[2022-02-01 13:47] suzi-greenpeace commented on #164
Go for it! thank you!

On Mon, Jan 31, 2022 at 6:31 PM artze ***@***.***> wrote:

--
suzi grishpul
*Planet 4 Product Manager, Greenpeace International*
pronouns: they/them/theirs
location: Denver, CO, USA (GMT/UTC-6)

*Book some time with me on Fridays: *Office Hours
<https://calendly.com/suzi-grishpul/office-hours>

[2022-02-01 17:42] VallariAg commented on #164
Yes, sorry, I haven't been able to work on it. Go ahead :)

[2022-02-01 23:33] artze commented on #164
Alright, I will take this up :)

[2022-02-05 09:21] artze commented on #164
@comzeradd

Hi, I got a question.

At first render when the table is not sorted (like below), is there a preference on what kind of icon we should display next to the column titles?
![image](https://user-images.githubusercontent.com/13703523/152635496-ef8a6393-7941-4470-bc2b-82e823a8521f.png)

I'm thinking something like the following:
![image](https://user-images.githubusercontent.com/13703523/15

[2022-02-07 09:00] comzeradd commented on #164
@magalifatome do we have a preference on how this icon should look?
For reference, check the [example page](https://www-dev.greenpeace.org/international/campaign/ocean-declaration/) and sort by a column to see the sort icon.

[2022-02-07 23:45] oekeur commented on #135
I'll get this :)
WIP: https://github.com/oekeur/planet4-master-theme/tree/PLANET-5972

[2022-02-08 00:05] suzi-greenpeace commented on #135
thanks Oscar!

On Mon, Feb 7, 2022 at 4:45 PM OscarKeur ***@***.***> wrote:

--
suzi grishpul
*Planet 4 Product Manager, Greenpeace International*
pronouns: they/them/theirs
location: Denver, CO, USA (GMT/UTC-6)

*Book some time with me on Fridays: *Office Hours
<https://calendly.com/suzi-grishpul/office-hours>

[2022-02-08 05:26] yehee commented on #166
@artze Please go ahead as I do not have enough bandwidth right now to work on the issue. Thanks for the help :)

[2022-03-10 01:22] oekeur commented on #135
Hi!
Sorry for the silence.

Update:
- CarouselHeader block is done
- The gallery block currently restricts uploading anything other than jpg, selecting is possible.

It doesn't seem possible to to restrict the selection of PNG for the gallery block because of the implementation of  ``<MediaPlaceholder>``. There seems to be a bug regarding the ``allowedTypes`` property?
``<MediaPlaceholder>`` doesn

[2022-03-11 09:53] comzeradd commented on #135
Hey @oekeur, thanks for looking into that.

Yes, I think it's fine to push that as a first fix. Adding the limitation to Carousel Header it's a big win already, since that block is certainly above the fold and a png image could impact performance much more that Gallery.

[2022-03-18 10:30] comzeradd commented on #135
Merged at https://github.com/greenpeace/planet4-plugin-gutenberg-blocks/commit/d29403bc9c9fcb8a1b01305e85bae11e7c49057f

[2022-03-18 10:30] #135 closed

[2022-03-22 07:58] comzeradd commented on #167
Done at https://github.com/greenpeace/planet4-master-theme/pull/1447

[2022-03-22 07:58] #167 closed

[2022-04-07 17:39] oekeur commented on #174
So what shall we do for this? :)
A separate option for the 'domains without link icon'?

[2022-04-11 08:50] comzeradd commented on #174
Description updated. Let's add a new configuration option for this.

[2022-04-12 14:28] oekeur commented on #174
You can assign this one to me :)

[2022-05-05 20:11] wesleymiles commented on #162
Hi, i can take this one.

[2022-05-05 20:56] suzi-greenpeace commented on #162
thanks Wes! let us know if you have any questions about our design system.

– – – – – – – – – – – – – – – – – – – – – –
*Suzi Grishpul* (they/them/theirs <https://www.mypronouns.org/they-them>)

Interim Head of Engagement Systems
&  Planet 4 Product Manager
Greenpeace International <https://www.greenpeace.org/international>

Based in: Denver, US (UTC-6)
Schedule a meeting with me <https://calendly

[2022-05-06 13:24] wesleymiles commented on #162
Thanks, Suzi!

Here's what i've done so far:
- cloned the `planet4-docker-compose` repo locally
- installed the child theme `planet4-child-theme-handbook`
- created a test page with the notes/callouts
- tested out a replacement light green pulled from the design system colors = #EAFEE7.

What I'm not sure on is the next steps. Is this ask also to figure out how to make the change via css? If so, i

[2022-05-23 21:18] oekeur commented on #174
Whoops, sorry, this one fell off my radar!:
Starting -now really- on it now

[2022-06-02 06:27] stduerre opened #179 "Add a filter to modify lite-youtube-embed parameters"
### Brief summary of task:

Planet4 uses `lite-youtube-embed` for embedded Youtube videos. At the moment, parameters added to the video URLs are [hard coded in the master theme](https://github.com/greenpeace/planet4-master-theme/blob/7c3b15083987bd179875c0f9cb3f1f221a47b812/src/MasterSite.php#L1348).

Adding a filter to customize these parameters allows child themes to fine tune the Youtube video

[2022-06-08 09:20] #179 closed

[2022-06-09 16:38] suzi-greenpeace commented on #162
Hey @wesleymiles , sorry for the delay, we're a bit short-staffed at the moment. I'll see if we can get a dev to help you out with this in the next few weeks. Thanks for taking this on!

[2022-06-25 14:47] oekeur commented on #174
PR opened: https://github.com/greenpeace/planet4-master-theme/pull/1746

[2022-07-12 14:46] fatchild opened #180 "Setting up development environment for Apple Silicon Mac M1"
### Where did you find the bug?

running
`make dev`

### What went wrong?

**Development Environment setup issues with MacM1 chip + Docker for planet 4**
Currently - `ERROR: php-fpm is not running`

### Here's the problem:

I have run into issues with getting the development environment up and running based on the instructions in this documentation...
https://support.greenpeace.org/planet4/develop

[2022-07-12 14:50] fatchild commented on #180
Once this is solved (assuming it is an issue and not user error), it would be great to add a new tab to the documentation for M1 users specifically.

[2022-07-12 15:09] lithrel commented on #180
Hi :wave:  We indeed have at least 2 people on M1 running this, I added a (very small) M1 section just today https://support.greenpeace.org/planet4/development/installation#m1-architecture
The gist of it is you also need to set the redis image `REDIS_IMAGE=arm64v8/redis:4-stretch`. Just run `make clean` before trying to install again.
But for the connection issue you have there in the container `C

[2022-07-23 03:55] torrancewebdev opened #181 "Project setup error: [check-compose-version] Error 1"
### Where did you find the bug?

_No response_

### What went wrong?

Attempted to set up project on Mac according to instructions:
https://support.greenpeace.org/planet4/development/installation#fixing-make-dev-errors

When running `make dev` step, I encountered the following error.

$ docker-compose --version
docker-compose version 1.29.2, build 5becea4c
$ make dev
make: *** [check-compose-versi

[2022-07-26 16:30] torrancewebdev commented on #181
Closing this issue, moving to docker-compose repo

[2022-07-26 16:30] #181 closed

[2022-09-19 08:39] mleray commented on #166
Fixed by https://github.com/greenpeace/planet4-master-theme/pull/1791

[2022-09-19 08:39] #166 closed

[2022-09-27 08:25] comzeradd commented on #169
Done in https://github.com/greenpeace/planet4-master-theme/pull/1661

[2022-09-27 08:25] #169 closed

[2022-11-10 08:36] comzeradd commented on #54
@all-contributors add @Osong-Michael  for code

[2022-11-17 10:41] #161 closed

[2022-11-17 11:17] #144 closed

[2022-11-22 20:09] purplepaste5 commented on #159
@comzeradd is this being worked on? I would enjoy contributing and this seems like a good first issue.

[2022-11-24 12:28] #90 closed